	<footer class="footer-fixed">
		<a href="/about">关于我们</a>
		<span> | </span>
		<a href="/press">新闻中心</a>
		<span> | </span>
		<a href="/opportunity">招募精英</a>
		<span> | </span>
		<a href="/contactus">联系我们</a>
	</footer>
</body>
</html>