	</div>
	<footer>
		<div class="container text-right">
			<a href="/" class="btn"><img src="images/share/weiboicon2x.png"/></a>
			<a href="/wechat" class="btn visible-xs-inline"><img src="images/share/wechaticon2x.png"/></a>
			<a tabindex="0" class="btn hidden-xs" 
				role="button" 
				data-toggle="popover" 
				data-placement="top"  
				title="关注我们的官方微信"
				data-html="true"
				data-trigger="focus" 
				data-content="
					<div>
						<p class='block-display'>美步科技官方微信订阅号已开通！<br>
							在这里，我们将与您分享个人出行方式的趣闻。</p>
						<span class='block-display mis1'>搜索添加 / </span>
						<p class='block-display'>微信界面右上方按钮[+] > 选择[添加朋友] > 在搜索框中输入'movetechs美步科技'添加。</p>
						<span class='block-display mis1'>扫码添加 / </span>
						<p class='block-display'>微信界面右上方按钮[+] > 选择[扫一扫] > 读取下方二维码添加：</p>
						<img width='150px' class='qrcode' src='images/share/movetechs-qrcode.jpg'/>
					</div>
				">
				<img class='qrcode' src="images/share/wechaticon2x.png"/>
			</a>
			
			<a href="/contact" class="btn">联系我们</a>
		</div>
	</footer>
</body>
</html>