	</div>
	<footer>
		<div class="article article-narrow">
			<div class="container">
				<h6>产品咨询</h6>
				<h4>400 919 0707</h4>
				<h4>service@movetechs.com</h4>
			</div>
		</div>
	</footer>
</body>
</html>