{{> header }}
<style>
	nav.navbar.navbar-default li > a[href~="/about"], nav.navbar.navbar-default li > a[href~="/about"]:hover{
		color:#999;
	}
	nav.navbar.navbar-secondary .navbar-collapse li a{
		cursor: default;
	}
	nav.navbar.navbar-lite .outer-container li > a:hover{
		color: #333;
	}
	.article#jumbotron .foreground{
		background: #ECECEC;
	}
	.article#jumbotron .bg-items{
		position: absolute;
		bottom: 0px;
		left:0px;
	}
	.article#jumbotron .container{
		padding-top: 120px;
		padding-top: 8rem;
		padding-bottom: 510px;
		padding-bottom: 34rem;
	}
	.article#jumbotron .container .title h2{
		margin-top: 2px;
		margin-bottom: 30px;
	}
	.article.profile .container{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.article.profile#article-1 .container{
		padding-top: 100px;
	}
	.article.profile#article-11 .container{
		padding-bottom: 100px;
	}
	.article.profile table{
		margin-bottom: 0px;
	}
	.article.profile .profile-name {
		height: 63px;
		padding-bottom: 15px;
		padding-bottom: 1rem;
	}
	.article.profile .profile-name span{
		position: absolute; 
		top: 0px; 
		padding-left: 10px; 
		font-size: 18px; 
		font-weight:400;
		white-space: nowrap;
	}
	.article.profile .profile-name h1{
		position: relative; 
		width: 150px;
		font-weight: 100;
		margin: 0px;
	}
	.article.profile .profile-text>td{
		vertical-align: top
	}
	.article.profile .profile-text .slash{
		position: absolute;
		left: 0;
		font-size: 12px;
	}
	.article.profile .profile-text p {
		position: relative;
		padding-left: 1em;
	}
	.article#article-12 .foreground{
		background: #fafafa;
	}
	.article#article-12 .container{
		padding-top: 60px;
		padding-top: 4rem;
		padding-bottom: 60px;
		padding-bottom: 4rem;
		border-bottom: 1px solid #cdcdcd;
	}
	.article#article-12 h4{
		color: #b51f2e;
	}
	.article#article-12 h3{
		font-weight: 200;
	}
	@media only screen and (max-width: 768px){
		.article#jumbotron .container{
			padding-top: 180px;
			padding-top: 12rem;
			padding-bottom: 210px;
			padding-bottom: 14rem;
		}
		.article.profile .profile-name{
			padding-top: 20px;
		}
		.article.profile .profile-name h1{
			width: 120px;
		}
		.article.profile .container, .article.profile#article-1 .container, .article.profile#article-11 .container{
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
</style>
<div class="main">
	<div class="article" id="jumbotron">
		<div class="bg">
			<div class="foreground"></div>
			<div class="bg-items">
				<div class="container-fluid">
					<div class="row">
						<img class="img-responsive" src="images/about-jumbo.jpg"/>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title text-center">
						<h2>我们是move</h2>
						<h5>一个专业的交通工具研发团队，从体验的视角开发产品</h5>
					</div>
				</div> 
			</div>
		</div>
	</div>
	<div class="main-intro">
		<nav class="navbar navbar-lite navbar-secondary">
			<div class="outer-container">
			  <div class="container">
			    <div class="navbar-collapse">
			      <ul class="nav text-center">
			      	<li><a>美步(move)团队 /</a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div>
			</div><!-- /.outer-container -->
		</nav>
		<div class="article profile" id="article-1">
			<div class="bg">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<img class="img-responsive" src="images/about-article1.jpg">
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="profile-name">
							<h1 class="text-justify">俞浩<span>CEO</span></h1>
						</div>
						<div class="profile-text">
							<p><span class="slash">/</span>  87年，清华大学航天航空学院</p>
							<p><span class="slash">/</span>  创建国内最早的企业协同工具 Colorwork </p>
							<p><span class="slash">/</span>  国内最早的四旋翼开发者，创办清华大学最⼤的学生科技团队“天空⼯场”，并发明了国内第一个三旋翼飞⾏器。曾获全国气动创新设计⼤赛冠军；清华⼤学挑战杯⼀等奖；全国公益创业⼤赛冠军；全国小平科技团队等⼀系列奖项</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article profile" id="article-2">
			<div class="bg">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<img class="img-responsive" src="images/about-article2.jpg">
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="profile-name">
							<h1 class="text-justify">陆健<span>机械工程师</span></h1>
						</div>
						<div class="profile-text">
							<p><span class="slash">/</span>  86 年，清华大学精密仪器系</p>
							<p><span class="slash">/</span>  5 年机电⾏业工作经验 </p>
							<p><span class="slash">/</span>  曾供职于 SEW 电机技术部，主要负责开发高效电机和制定相关企业标准，同时负责防爆电机的新品开发</p>
							<p><span class="slash">/</span>  曾供职于永大电梯研发中心，主要负责电动扶梯驱动方案的设计，同时负责扶梯振动及噪音降低的研究，提升乘坐品质</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article profile" id="article-3">
			<div class="bg">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<img class="img-responsive" src="images/about-article3.jpg">
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="profile-name">
							<h1 class="text-justify">张立国<span>工业设计师</span></h1>
						</div>
						<div class="profile-text">
							<p><span class="slash">/</span>  88 年，清华大学美术学院工业设计系交通工具设计专业</p>
							<p><span class="slash">/</span>  担任清华大学天空工厂工业设计师，负责三旋翼飞机外观设计</p>
							<p><span class="slash">/</span>  毕设”阿凡达”三旋翼飞行器设计被杂志《城市画报》采访并刊登，参加中国教育电视台展览</p>
							<p><span class="slash">/</span>  毕业后加入中国国际航空 AmecoBeijing 公务机服务分部，负责并参与多架公务机内饰设计</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article profile" id="article-4">
			<div class="bg">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<img class="img-responsive" src="images/about-article4.jpg">
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="profile-name">
							<h1 class="text-justify">王倩男<span>工业设计师</span></h1>
						</div>
						<div class="profile-text">
							<p><span class="slash">/</span>  88 年，清华大学汽车系</p>
							<p><span class="slash">/</span>  英国皇家艺术学院 Vehicle Design专业硕士</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article profile" id="article-5">
			<div class="bg">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<img class="img-responsive" src="images/about-article5.jpg">
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="profile-name">
							<h1 class="text-justify">谢小也<span>平面设计师</span></h1>
						</div>
						<div class="profile-text">
							<p><span class="slash">/</span>  清华⼤学美术学院信息设计专业</p>
							<p><span class="slash">/</span>  原 Colorwork⾸席设计师，负责网站的交互设计和视觉设计。有多个项目视觉设计工作经历</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article profile" id="article-6">
			<div class="bg">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<img class="img-responsive" src="images/about-article6.jpg">
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="profile-name">
							<h1 class="text-justify">常新伟<span>电子工程师</span></h1>
						</div>
						<div class="profile-text">
							<p><span class="slash">/</span>  89 年，清华大学航天航空学院本科、硕士</p>
							<p><span class="slash">/</span>  清华大学三角洲工作室技术骨干，多年电路电子开发经验，曾多次带队参加全国飞思卡尔杯智能车大赛</p> 
							<p><span class="slash">/</span>  将于 2015 年末硕士毕业后，全职加⼊公司</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article profile" id="article-7">
			<div class="bg">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<img class="img-responsive" src="images/about-article7.jpg">
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="profile-name">
							<h1 class="text-justify">毛一然<span>IT工程师</span></h1>
						</div>
						<div class="profile-text">
							<p><span class="slash">/</span>88 年，清华大学经济管理学院信息管理与信息系统本科</p>
							<p><span class="slash">/</span>美国纽约大学计算机科学硕士</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article profile" id="article-8">
			<div class="bg">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<img class="img-responsive" src="images/about-article8.jpg">
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="profile-name">
							<h1 class="text-justify">于君强<span>供应链管理</span></h1>
						</div>
						<div class="profile-text">
							<p><span class="slash">/</span>  87年，西安空军工程大学</p>
							<p><span class="slash">/</span>  5年制造业经验</p>
							<p><span class="slash">/</span>  曾先后供职于江苏昆山希安思塑料制品有限公司开发部、苏州安健精密模具有限公司开发部</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article profile" id="article-9">
			<div class="bg">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<img class="img-responsive" src="images/about-article9.jpg">
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="profile-name">
							<h1 class="text-justify">俞敏<span>生产管理</span></h1>
						</div>
						<div class="profile-text">
							<p><span class="slash">/</span>  75 年，原启东色织厂生产管理，20 年机电⾏业经验</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article profile" id="article-10">
			<div class="bg">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<img class="img-responsive" src="images/about-article10.jpg">
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="profile-name">
							<h1 class="text-justify">安海超<span>品质</span></h1>
						</div>
						<div class="profile-text">
							<p><span class="slash">/</span>  原东升公司机修工，多年机修工作经历</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article profile" id="article-11">
			<div class="bg">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<img class="img-responsive" src="images/about-article11.jpg">
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="profile-name">
							<h1 class="text-justify">赵文杰<span>生产</span></h1>
						</div>
						<div class="profile-text">
							<p><span class="slash">/</span>  原上海旭博外墙装饰有限公司资料员、施工员</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-narrow article-center" id="article-12">
			<div class="bg">
				<div class="foreground"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>这个团队可以更壮大</h2>
						</div>
						<h4>如果你喜欢我们的愿景，不妨联系我们</h4>
						<h3>join@movetechs.com</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer }}