{{> header }}
<style>
	nav.navbar.navbar-default li > a[href~="/about"], nav.navbar.navbar-default li > a[href~="/about"]:hover{
		color:#888;   /*$grey, reverse-selected*/
	}
	.article#jumbotron .foreground{
		background: #ececec;   /*$grey-light, light-bg*/
	}
	.article#jumbotron .bg-items{
		position: absolute;
		bottom: 0px;
		left:0px;
		right: 0px;
	}
	.article#jumbotron .container{
		padding-top: 48px;
		padding-bottom: 410px;
	}
	.article#profile .container .row{
		margin-bottom: 25px;
	}
	.article#profile .profile-name {
		height: 63px;
		padding-bottom: 15px;
		padding-bottom: 1rem;
	}
	.article#profile .profile-name p{
		position: absolute; 
		top: 0px; 
		padding-left: 10px; 
		white-space: nowrap;
	}
	.article#profile .profile-name h3{
		position: relative; 
		width: 100px;
		margin-top: 25px;
	}
	.article#profile .profile-text .slash{
		position: absolute;
		left: 0;
		font-size: 12px;
	}
	.article#profile .profile-text p {
		position: relative;
		padding-left: 1em;
		margin-top: -10px;
	}
	.article#joinus .foreground{
		background: #f8f8f8;    /*$grey-lighter, lighter-bg*/
	}
</style>
<script>
	$(document).ready(function(){
		resizeJumbo();
		$(window).resize(resizeJumbo);
	});
	function resizeJumbo() {
		var article = $('#jumbotron');
		var containerWidth = article.width();
		var defer = $.Deferred();
		var bgImg = $($(".bg-items img")[0]);
		defer.promise(bgImg);
		(function resolveWhenImageHeaderLoaded() {
			if(bgImg.width() && bgImg.height) {
				defer.resolve();
			}
			else{
				setTimeout(resolveWhenImageHeaderLoaded, 100)
			}
		})();
		bgImg.done(function(){
			var bgWidthHeightRatio = bgImg.width() / bgImg.height();
			var containerHeight = containerWidth / bgWidthHeightRatio + 48 / (containerWidth / 1004); //与屏幕大小成反比
			article.css('height', containerHeight);
		});
	}
</script>
<div class="main">
	<div class="article" id="jumbotron">
		<div class="bg">
			<div class="foreground"></div>
			<div class="bg-items">
				<div class="container-fluid">
					<div class="row">
						<img class="img-responsive" src="images/about-jumbo.jpg"/>
					</div>
				</div>
			</div>
		</div>
		<div class="content container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title text-center">
						<h1>我们是美步</h1>
						<p>一个专业的交通工具研发团队，从体验的视角开发产品</p>
					</div>
				</div> 
			</div>
		</div>
	</div>
	<div class="main-intro">
		<nav class="navbar navbar-lite navbar-secondary">
			<div class="outer-container">
			  <div class="container">
			    <div class="navbar-collapse">
			      <ul class="nav text-center">
			      	<li><a class="static">美步团队 /</a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div>
			</div><!-- /.outer-container -->
		</nav>
		<div class="article" id="profile">
			<div class="bg">
			</div>
			<div class="content container">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<img class="img-responsive" src="images/about-profile-yuhao.jpg">
						<div class="profile-name">
							<h3 class="text-justify">俞浩<p>CEO</p></h3>
						</div>
						<div class="profile-text">
							<p class="block-display"><span class="slash">/</span>  清华大学航天航空学院</p>
							<p class="block-display"><span class="slash">/</span>  创建国内最早的企业协同工具 Colorwork</p>
							<p class="block-display"><span class="slash">/</span>  清华大学“天空⼯场”创始人</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<img class="img-responsive" src="images/about-profile-lujian.jpg">
						<div class="profile-name">
							<h3 class="text-justify">陆健<p>机械设计师</p></h3>
						</div>
						<div class="profile-text">
							<p class="block-display"><span class="slash">/</span>  清华大学精密仪器系</p>
							<p class="block-display"><span class="slash">/</span>  5 年机电⾏业工作经验</p> 
							<p class="block-display"><span class="slash">/</span>  曾供职于 SEW 电机技术部、永大电梯研发中心</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<img class="img-responsive" src="images/about-profile-zhangliguo.jpg">
						<div class="profile-name">
							<h3 class="text-justify">张立国<p>工业设计师</p></h3>
						</div>
						<div class="profile-text">
							<p class="block-display"><span class="slash">/</span>  清华大学美术学院工业设计</p>
							<p class="block-display"><span class="slash">/</span>  中国国际航空AmecoBeijing 公务机服务分部，负责并参与多架公务机内饰设计</p>
							<p class="block-display"><span class="slash">/</span>  曾在波音中国实习</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<img class="img-responsive" src="images/about-profile-xiexiaoye.jpg">
						<div class="profile-name">
							<h3 class="text-justify">谢小也<p>平面设计师</p></h3>
						</div>
						<div class="profile-text">
							<p class="block-display"><span class="slash">/</span>  清华⼤学美术学院信息设计专业</p>
							<p class="block-display"><span class="slash">/</span>  原 Colorwork 首席设计师</p>
							<p class="block-display"><span class="slash">/</span>  曾参与 OSTINATO 智能硬件项目，负责软件端交互设计及平面设计</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<img class="img-responsive" src="images/about-profile-changxinwei.jpg">
						<div class="profile-name">
							<h3 class="text-justify">常新伟<p>电子工程师</p></h3>
						</div>
						<div class="profile-text">
							<p class="block-display"><span class="slash">/</span>  清华大学航天航空学院本科、硕士</p>
							<p class="block-display"><span class="slash">/</span>  三角洲工作室技术骨干，多年电路电子开发经验</p>
							<p class="block-display"><span class="slash">/</span>  曾多次带队参加飞思卡尔智能车大赛，屡获国家级奖项</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<img class="img-responsive" src="images/about-profile-fuhongchang.jpg">
						<div class="profile-name">
							<h3 class="text-justify">付宏昌<p>电子工程师</p></h3>
						</div>
						<div class="profile-text">
							<p class="block-display"><span class="slash">/</span>  清华大学机械工程系本科毕业</p>
							<p class="block-display"><span class="slash">/</span>  曾供职于清华大学生物制造工程研究所，有3年机电相关工作经验</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<img class="img-responsive" src="images/about-profile-yanbo.jpg">
						<div class="profile-name">
							<h3 class="text-justify">闫波<p>结构工程师</p></h3>
						</div>
						<div class="profile-text">
							<p class="block-display"><span class="slash">/</span>  南京航天航空大学本科、硕士</p>
							<p class="block-display"><span class="slash">/</span>  空客（北京）工程技术中心，飞机结构设计工程师</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<img class="img-responsive" src="images/about-profile-xuchuanhui.jpg">
						<div class="profile-name">
							<h3 class="text-justify">徐川辉<p>机械工程师</p></h3>
						</div>
						<div class="profile-text">
							<p class="block-display"><span class="slash">/</span>  上海交通大学机械工程专业 硕士</p>
							<p class="block-display"><span class="slash">/</span>  费斯托（中国）自动化制造有限公司，研发工程师</p>
							<p class="block-display"><span class="slash">/</span>  上海市优秀毕业生</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<img class="img-responsive" src="images/about-profile-matianquan.jpg">
						<div class="profile-name">
							<h3 class="text-justify">马天全<p>项目管理</p></h3>
						</div>
						<div class="profile-text">
							<p class="block-display"><span class="slash">/</span>  东南大学自动化学院</p>
							<p class="block-display"><span class="slash">/</span>  曾任东南大学智能车训练基地领队</p>
							<p class="block-display"><span class="slash">/</span>  3年项目管理经历</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<img class="img-responsive" src="images/about-profile-yujunqiang.jpg">
						<div class="profile-name">
							<h3 class="text-justify">于君强<p>供应链管理</p></h3>
						</div>
						<div class="profile-text">
							<p class="block-display"><span class="slash">/</span>  西安军工大学</p>
							<p class="block-display"><span class="slash">/</span>  5年制造业经验</p>
							<p class="block-display"><span class="slash">/</span>  曾先后供职于江苏昆山希安思塑料制品有限公司开发部、苏州安健精密模具有限公司开发部</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<img class="img-responsive" src="images/about-profile-yumin.jpg">
						<div class="profile-name">
							<h3 class="text-justify">俞敏<p>生产技术</p></h3>
						</div>
						<div class="profile-text">
							<p class="block-display"><span class="slash">/</span>  原启东色织厂生产技术</p>
							<p class="block-display"><span class="slash">/</span>  20 年机电⾏业经验</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<img class="img-responsive" src="images/about-profile-xujunyong.jpg">
						<div class="profile-name">
							<h3 class="text-justify">徐军勇<p>生产管理</p></h3>
						</div>
						<div class="profile-text">
							<p class="block-display"><span class="slash">/</span>  原乔山健康科技（上海）有限公司  课长，下属组长4人，班长22人</p>
							<p class="block-display"><span class="slash">/</span>  10年车间主管经历</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<img class="img-responsive" src="images/about-profile-liujiaqi.jpg">
						<div class="profile-name">
							<h3 class="text-justify">刘佳琪<p>商务总监</p></h3>
						</div>
						<div class="profile-text">
							<p class="block-display"><span class="slash">/</span>  8年品牌研究、营销策划经验</p>
							<p class="block-display"><span class="slash">/</span>  茅台集团品牌战略合作伙伴</p>
							<p class="block-display"><span class="slash">/</span>  曾为雪花啤酒、世茂房地产、长江商学院等品牌提供营销策划与解决方案</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<img class="img-responsive" src="images/about-profile-liaoning.jpg">
						<div class="profile-name">
							<h3 class="text-justify">廖宁<p>商务经理</p></h3>
						</div>
						<div class="profile-text">
							<p class="block-display"><span class="slash">/</span>  清华大学经济管理学院会计专业</p>
							<p class="block-display"><span class="slash">/</span>  原“天空工场”副理事长，国家航模一级运动员，发起并参与单旋翼项目“skyglobe”获清华大学挑战杯二等奖</p>
							<p class="block-display"><span class="slash">/</span>  创业项目曾入围昆山杯创业大赛全国总决赛</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<img class="img-responsive" src="images/about-profile-shanjun.jpg">
						<div class="profile-name">
							<h3 class="text-justify">单军<p>销售总监</p></h3>
						</div>
						<div class="profile-text">
							<p class="block-display"><span class="slash">/</span>  8年相关行业经验</p>
							<p class="block-display"><span class="slash">/</span>  原国内最大电动滑板车企业销售总监</p>
							<p class="block-display"><span class="slash">/</span>  拥有良好的经销商资源与供应商关系</p>
						</div>
					</div>	
				</div>
			</div>
		</div>
		<div class="article article-300 article-center article-v-center" id="joinus">
			<div class="bg">
				<div class="background"></div>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="content container">
				<div class="row">
					<div class="col-sm-12">
						<h1>这个团队可以更壮大</h1>
						<span class="mis-2">如果你喜欢我们的愿景，不妨联系我们</span>
						<h3>yuhao@movetechs.com</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer }}