{{> header }}
<style>
	.article#header .container{
		padding-top: 120px;
		padding-top: 8rem;
	}
	.article#jumbotron .container{
		padding-bottom: 75px;
		padding-bottom: 5rem;
	}
	.article#jumbotron .subtitle>td{
		padding-top: 75px;
		padding-top: 5rem;
	}
	.article#jumbotron h2{
		font-weight: 100;
	}
	.article#jumbotron h4{
		font-weight: 600;
	}
	.article.profile:nth-child(even) .foreground{
		background: #3e414a;
	}
	.article.profile:nth-child(odd) .foreground{
		background: #30343b;
	}
	.article.profile .col-md-6{
		padding: 0px;
	}
	.article.profile .profile-text{
		margin: 75px 75px 0px 75px;
		margin: 5rem 5rem 0 5rem;
	}
	.article.profile .profile-text .profile-name{
		width: 208px;
	}
	.article.profile h1{
		font-weight: 100;
	}
	.article.profile h5{
		font-size: 22px;
		font-weight: 600;
	}
	.article.profile .profile-text .profile-motto{
		font-weight: 200;
		font-size: 18px;
		line-height: 28px;
	}
	.article#article-10 .container{
		padding-top: 60px;
		padding-top: 4rem;
		padding-bottom: 75px;
		padding-bottom: 5rem;
	}
</style>
<div class="main">
	<div class="article" id="header">
		<div class="bg">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title text-center">
						<h2>我们是move</h2>
						<h5>一个专业的交通工具研发团队，从体验的视角开发产品</h5>
					</div>
				</div> 
			</div>
		</div>
	</div>
	<div class="article article-narrow" id="jumbotron">
		<div class="container-fluid">
			<div class="row">
				<img class="img-responsive" src="images/about-jumbo.jpg"/>
			</div>
		</div>
		<div class="container">
			<table class="table table-borderless">
				<tr class="row subtitle">
					<td colspan="2"><h4>关于美步（move）/</h4></td>
				</tr>
				<tr class="row">
					<td colspan="2">
						<p>谁来定义一款“有用”的产品？在尝试之前，我们不知道人的出行方式在骑行和驾车之间还存在其它可能性。能不能更快？能不能更省力？能不能换一种姿态？这一年来，美步正试图通过简练的设计语言和落地的研发手段打造短途代步交通工具（电动滑板车），一款真正有用的科研产品。美步相信，当人们以站立的姿态移动，他们不在于追求特立独行，他们追求更高更远的视野。</p> 
						<p>在以前，我们对于疲劳的短途步行习以为常，没有发现其实可以更快一些。我们不反对慢生活，只希望将碎片的时间链接起来，做更多有意义的事情。针对合适的时间段缩短通勤时间，是美步的使命。</p>
					</td>
				</tr>
				<tr class="row subtitle">
					<td><h4>美步团队：</h4></td>
					<td><h2>用专业技能打造适合你的交通工具</h2></td>
				</tr>
				<tr class="row">
					<td colspan="2"><p>这个团队很看好美步的愿景，他们在用自己的专业技能合力做好一款产品。</p></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="article profile" id="article-1">
		<div class="bg">
			<div class="foreground"></div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<img class="img-responsive" src="images/about-article1.jpg">
				</div>
				<div class="col-md-6">
					<div class="profile-text">
						<div class="profile-name">
							<h5 class="text-reverse text-justify">C E O</h5>
							<h1 class="text-reverse text-justify">俞浩</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="article profile" id="article-2">
		<div class="bg">
			<div class="foreground"></div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<img class="img-responsive" src="images/about-article2.jpg">
				</div>
				<div class="col-md-6">
					<div class="profile-text">
						<div class="profile-name">
							<h5 class="text-reverse text-justify">结构设计</h5>
							<h1 class="text-reverse text-justify">陆健</h1>
						</div>
						<h5 class="text-reverse profile-motto">博学之，审问之，慎思之，明辨之，笃行之。</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="article profile" id="article-3">
		<div class="bg">
			<div class="foreground"></div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<img class="img-responsive" src="images/about-article3.jpg">
				</div>
				<div class="col-md-6">
					<div class="profile-text">
						<div class="profile-name">
							<h5 class="text-reverse text-justify">结构设计</h5>
							<h1 class="text-reverse text-justify">张立国</h1>
						</div>
						<h5 class="text-reverse profile-motto">设计是一门关于生活的艺术，我热爱生活，但更享受设计带给生活的点点滴滴。</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="article profile" id="article-4">
		<div class="bg">
			<div class="foreground"></div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<img class="img-responsive" src="images/about-article4.jpg">
				</div>
				<div class="col-md-6">
					<div class="profile-text">
						<div class="profile-name">
							<h5 class="text-reverse text-justify">供应链/机械工程</h5>
							<h1 class="text-reverse text-justify">于君强</h1>
						</div>
						<h5 class="text-reverse profile-motto">再长的路，一步步也能走走完；再短的路，不迈开双脚也无法到达。</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="article profile" id="article-5">
		<div class="bg">
			<div class="foreground"></div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<img class="img-responsive" src="images/about-article5.jpg">
				</div>
				<div class="col-md-6">
					<div class="profile-text">
						<div class="profile-name">
							<h5 class="text-reverse text-justify">硬件设计</h5>
							<h1 class="text-reverse text-justify">常新伟</h1>
						</div>
						<h5 class="text-reverse profile-motto">教条的遵守规范，艺术的设计电路，自由的放飞思维。让每一个产品都能拉进未来，驱动生活。</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="article profile" id="article-6">
		<div class="bg">
			<div class="foreground"></div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<img class="img-responsive" src="images/about-article6.jpg">
				</div>
				<div class="col-md-6">
					<div class="profile-text">
						<div class="profile-name">
							<h5 class="text-reverse text-justify">视觉设计</h5>
							<h1 class="text-reverse text-justify">谢小也</h1>
						</div>
						<h5 class="text-reverse profile-motto">我想通过设计为一个好项目出一份力。</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="article profile" id="article-7">
		<div class="bg">
			<div class="foreground"></div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<img class="img-responsive" src="images/about-article7.jpg">
				</div>
				<div class="col-md-6">
					<div class="profile-text">
						<div class="profile-name">
							<h5 class="text-reverse text-justify">生产与装配</h5>
							<h1 class="text-reverse text-justify">俞敏</h1>
						</div>
						<h5 class="text-reverse profile-motto"></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="article profile" id="article-8">
		<div class="bg">
			<div class="foreground"></div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<img class="img-responsive" src="images/about-article8.jpg">
				</div>
				<div class="col-md-6">
					<div class="profile-text">
						<div class="profile-name">
							<h5 class="text-reverse text-justify">质检/销售</h5>
							<h1 class="text-reverse text-justify">安海超</h1>
						</div>
						<h5 class="text-reverse profile-motto"></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="article profile" id="article-9">
		<div class="bg">
			<div class="foreground"></div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<img class="img-responsive" src="images/about-article9.jpg">
				</div>
				<div class="col-md-6">
					<div class="profile-text">
						<div class="profile-name">
							<h5 class="text-reverse text-justify">产品组装</h5>
							<h1 class="text-reverse text-justify">赵文杰</h1>
						</div>
						<h5 class="text-reverse profile-motto"></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="article article-center" id="article-10">
		<div class="bg">
			<img class="background" src="images/about-article10.jpg"/>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title">
						<h2 class="text-reverse">这个团队可以更壮大</h2>
					</div>
					<h4>如果你喜欢我们的愿景，不妨联系我们</h4>
					<h3 class="text-reverse">join@movetechs.com</h3>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer }}