{{> header }}
<style type="text/css">
nav.navbar.navbar-default li > a[href~="/contact"], nav.navbar.navbar-default li > a[href~="/contact"]:hover{
	color:#999;
}
.main{
	padding-top: 50px;
}
.article#header .container{
	padding-top: 60px;
	padding-top: 4rem;
	padding-bottom: 60px;
	padding-bottom: 4rem;
	border-bottom: 1px solid #cdcdcd;
}
.article#header h4{
	text-align: center;
	font-weight: 600;
}
.article#article-1 .foreground{
	background-color: #fafafa;
}
.article#article-1 .container{
	padding-top: 60px;
	padding-top: 4rem;
	padding-bottom: 60px;
	padding-bottom: 4rem;
}
.article#article-1 h2, .article#article-1 h3{
	font-weight: 200;
}
.article#article-2 .container{
	padding-top: 75px;
	padding-top: 5rem;
	padding-bottom: 75px;
	padding-bottom: 5rem;
}
.article#article-2 h5{
	font-size: 20px;
	margin: 0px 0px 100px 0px;
}
@media only screen and (max-width: 768px){
	.article#header .container{
		padding-top: 30px;
		padding-top: 2rem;
		padding-bottom: 30px;
		padding-bottom: 2rem;
		border-bottom: 1px solid #e5e5e5;
	}
	.article#header h4{
		text-align: left;
	}
	.article#article-1 .container{
		padding-top: 75px;
		padding-top: 5rem;
		padding-bottom: 120px;
		padding-bottom: 8rem;
	}
	.article#article-2 .container{
		padding-top: 45px;
		padding-top: 3rem;
		padding-bottom: 45px;
		padding-bottom: 3rem;
	}
	.article#article-2 .container h4{
		margin-bottom: 30px;
		margin-bottom: 2rem;
	}
	.article#article-2 h5{
		margin: 30px 0px 30px 0px;
		font-size: 24px;
		font-weight: 200;
	}
	.article#article-2 p{
		margin: 0px;
	}
}
</style>
<div class="main">
	<div class="article" id="header">
		<div class="bg">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h4>联系方式</h4>
				</div> 
			</div>
		</div>
	</div>
	<div class="article" id="article-1">
		<div class="bg">
			<div class="foreground"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="hidden-xs">13581640032</h2>
					<h2 class="hidden-xs">yuhao@movetechs.com</h2>
					<h3 class="visible-xs-block">13581640032</h2>
					<h3 class="visible-xs-block">yuhao@movetechs.com</h2>
				</div> 
			</div>
		</div>
	</div>
	<div class="article" id="article-2">
		<div class="bg">
			<div class="foreground"></div>
		</div>
		<div class="container">
			<h4>分布 /</h4>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<img class="img-responsive" src="images/contact-article1.jpg">
				</div>
				<div class="col-xs-12 col-md-6">
					<h5>美步上海</h5>
					<p>工作时间：周一至周六，07:30-18:00（北京时间）</p>
					<p>地址：上海市嘉定区外冈镇沪宜公路5939号</p>
					<p>邮编：201806</p>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer }}