{{> header }}
<style type="text/css">
.main{
	padding-top: 50px;
}
.article#header .container{
	border-bottom: 1px solid #e5e5e5;
}
.article#header .title{
	margin: 76px 0px;
}
.article#header .title h4{
	font-weight: 600;
}
.article#article-1 .foreground{
	background-color: #fcfcfc;
}
.article#article-1 .container{
	padding-top: 60px;
	padding-top: 4rem;
	padding-bottom: 60px;
	padding-bottom: 4rem;
}
.article#article-1 h2{
	font-weight: 200;
}
.article#article-2 .container{
	padding-top: 75px;
	padding-top: 5rem;
	padding-bottom: 75px;
	padding-bottom: 5rem;
}
.article#article-2 h4{
	font-weight: 600;
}
</style>
<div class="main">
	<div class="article" id="header">
		<div class="bg">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title text-center">
						<h4>联系我们</h4>
					</div>
				</div> 
			</div>
		</div>
	</div>
	<div class="article" id="article-1">
		<div class="bg">
			<div class="foreground"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>400 919 0707</h2>
					<h2>service@movetechs.com</h2>
				</div> 
			</div>
		</div>
	</div>
	<div class="article" id="article-2">
		<div class="bg">
			<div class="foreground"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h4>分布 /</h4>
					<table class="table table-borderless">
						<tr class="row">
							<td rowspan="4"><img class="img-responsive" src="images/contact-article1.jpg"></td>
							<td height="100px" style="vertical-align: top"><h4>美步上海</h4></td>
						</tr>
						<tr class="row">
							<td style="vertical-align: bottom"><p>工作时间：周一至周六，07:30-18:00（北京时间）</p></td>
						</tr>
						<tr class="row">
							<td style="vertical-align: bottom"><p>地址：上海市嘉定区外冈镇沪宜公路5939号</p></td>
						</tr>
						<tr class="row">
							<td style="vertical-align: bottom"><p>邮编：201806</p></td>
						</tr>
					</table>
				</div> 
			</div>
		</div>
	</div>
</div>
{{> footer }}