{{> header }}
<style type="text/css">
.article .container{
	padding-top: 48px;
	padding-bottom: 48px;
}
.article .text-center.mis1{
	margin-bottom: 48px;
}
#bizpoc.article span.mis2{
	margin-bottom: 14px;
}
#bizpoc.article h3{
	margin-bottom: 6px;
}
#bizpoc.article h3:last-child{
	text-indent: 3px;
}
#location.article .row{
	margin-bottom: 28px;
}
#location.article .row:last-child{
	margin-bottom: 0px;
}
#location.article span.mis2{
	margin-bottom: 8px;
}

#location.article p{
	margin-bottom: 3px;
}
</style>
<div class="main">
	<div class="article" id="bizpoc">
		<div class="bg">
			<div class="foreground"></div>
		</div>
		<div class="container">
			<span class="mis1 block-display text-center">联系我们 /</span>
			<div class="row">
				<div class="col-sm-12">
					<span class="mis2 block-display">商务联系 / 刘经理</span>
					<h3>132&nbsp;4048&nbsp;1166</h2>
					<h3> liujiaqi@movetechs.com</h2>
				</div> 
			</div>
		</div>
	</div>
	<div class="article" id="location">
		<div class="bg">
			<div class="foreground"></div>
		</div>
		<div class="container">
			<span class="mis1 text-center block-display">分布 /</span>
			<span class="mis1 block-display">movetechs 上海</span>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<img class="img-responsive" src="images/contact-office.jpg">
				</div>
				<div class="col-xs-12 col-sm-6">
					<span class="mis2 text-red block-display">研发中心 /</span>
					<p class="block-display">地址：上海市嘉定工业区叶城路925号A区4幢301室</p>
					<p class="block-display">邮编：201800</p>
          <p class="block-display">工作时间：07:30-19:30，周一至周六</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<img class="img-responsive" src="images/contact-factory.jpg">
				</div>
				<div class="col-xs-12 col-sm-6">
					<span class="mis2 text-red block-display">生产部 /</span>
					<p class="block-display">地址：上海市嘉定区沪宜公路5939号</p>
					<p class="block-display">邮编：201806</p>
          <p class="block-display">工作时间：07:30-19:30，周一至周六</p>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer }}