{{> header }}
<style>
	nav.navbar.navbar-default li > a[href~="/future"], nav.navbar.navbar-default li > a[href~="/future"]:hover{
		color:#888;    /*$grey, reverse-selected*/
	}
	.article .container{
		padding-top: 48px;
		padding-bottom: 48px;
	}
	embed {
		padding-top: 28px;
	}
	.article#future-plan img{
		padding-top: 10px;
		padding-bottom: 40px;
	}
	@media only screen and (max-width: 767px) {
		.article .container{
			padding-top: 36px;
			padding-bottom: 0px;
		}
		.article .container h1, .article .container h3{
			text-align: center;
		}
		.article.article-750{
			height: 550px;
		}
	}
</style>
<div class="main">
	<div class="article">
		<div class="bg">
			<div class="foreground"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
					<span class="block-display mis2">我们是谁？</span>
					<h1>美步科技</h1>
				</div>
				<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
					<p>美步科技致力于P.E.T的研发和生态布局。我们的使命是不断通过软件、硬件、服务的提升，带来出行方式的革新。美步科技早在六年前年就开始了相关领域的研究与探索——创始人俞浩在清华大学成立专门的团队研究智能出行方式，奠定了公司成立的技术及人员基础。厚积带来薄发，今年 8 月，美步科技在上海注册成立公司，短短四个月公司规模迅速发展为 30 人，生产出三款 P.E.T 短途代步产品、搭建了完整的供应链、在全国范围内发展了200多个经销商，研发中心智能汽车、智能机器人等领域的技术研发也进展迅速。</p>
				</div>  
			</div>
		</div>
	</div>
	<div class="article">
		<div class="bg">
			<div class="foreground"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
					<span class="block-display mis2">什么是PET？</span>
					<h1>个人电动载具</h1>
					<h3>personal electric transportation</h3>
				</div>
				<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
					<p>美步科技专注于人们出行方式的探索。<br>
					我们提出 P.E.T（Personal Electric Transportation，即个人电动交通载具）的概念，认为按需出行将越来越依赖于公共、个人交通工具的协作——个人出行的方式将更加地轻量化、智能化、充满用户关怀。<br>
					P.E.T 百分之九十以上的情况为单人使用，突破了传统重量和体积带来的限制，更加便携，使用场景更加丰富。<br>
					P.E.T 更注重设计，它解放了工程师，将他们的注意力从复杂的油动力机械结构解放出来，用户的需求更多地被关注、融入设计。<br>
					P.E.T 是联网的，交互甚至交流充斥于车与车、车与人之间。<br>
					P.E.T 是个性化的，无论你喜欢酷炫还是温馨，它都有符合你需求的设计。<br>
					P.E.T 完美地融合了硬科技与软体验，全方位关怀用户。<br>
					P.E.T 的形态可能是短途代步工具、智能汽车，以及智能交通机器人。</p>
					<!-- <embed src="http://player.youku.com/player.php/sid/XNjk1NDU1NDU2/v.swf" allowFullScreen="false" quality="high" width="100%" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed> -->
					<div id="youkuplayer" style="width:100%;height:400px"></div>
				</div>  
			</div>
		</div>
	</div>
	<div class="article" id="future-plan">
		<div class="bg">
			<div class="foreground"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
					<h1>十年一梦，厚积薄发</h1>
				</div>
				<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
					<p class="block-display">美步科技在 P.E.T 领域积累已久，创始人俞浩五年前在清华大学成立专门团队从事这一领域的研究，公司现有核心研发团队 12 人，全部来为自清华大学、同济汽车学院等院校的硕士、博士生。十年一梦，公司提出“星座计划”，截至 2017 年主要打造短途代步工具产品，截至 2020 年推出 smart 式的两门微型电动汽车，截至2024年打造无人驾驶交通机器人。</p>
					<img class="img-responsive" src="images/future-1.png"/>
					<p class="block-display">面向成熟市场，我们推出的第一款短途代步产品——K1 电动滑板车，以强性能、高品质、轻设计为主打，解决了高品质个人出行工具从无到有、从劣到优的问题。第二款产品L1电动滑板车则旨在通过丰富的配色、小巧的外观满足用户个性化的需求。面向待开发市场的探索也从未止步，两年前，规划中的智能微型电动汽车项目已经启动。 从此刻起，P.E.T 将定制你的出行方式。 </p>
					<span class="text-red text-right mis2 block-display"><a class="hyperlink hyperlink-red" href="/about">了解美步团队 ></a></span>
				</div>  
			</div>
		</div>
	</div>
	<div class="article article-750 article-center article-v-center">
		<div class="bg">
			<picture alt="future-car">
				<!-- low-res, default -->
				<source srcset="images/future-2-small2x.jpg"
								media="(max-width: 767px)">
				<!-- med-res -->
			  <source srcset="images/future-2-medium2x.jpg"
								media="(min-width: 768px) and (max-width: 1068px)">
			  <!-- high-res -->
			  <source srcset="images/future-2.jpg" 
								media="(min-width: 1069px)">
				<!-- Fallback content -->
				<img class="background" src="images/future-2.jpg" alt="future-car">
			</picture>
			<div class="foreground"></div>
			<div class="bg-items"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
					<h1>“不断通过软件、硬件、服务的提升，带来出行方式的革新”</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="http://player.youku.com/jsapi">
player = new YKU.Player('youkuplayer',{
	styleid: '1',
	client_id: '434b7166c414d7a5',
	vid: 'XNjk1NDU1NDU2',
	show_related: false,
	events:{
		onPlayerReady: function(){ 
			player.ready = true;
		}
	}
});
</script>
<script>
	$(document).ready(function(){
		$(document).scroll(function(){
			var scrollTop = $(document).scrollTop();
			var video = $('#youkuplayer');
			if(player.ready && 
					scrollTop + $(window).height() > (video.offset().top + video.height() / 2) && 
					scrollTop < (video.offset().top + video.height() / 2)) {
				player.playVideo();
				player.ready = false;
			}
		});
	});	
</script>
{{> footer }}