{{> header }}
<style type="text/css">
	.navbar-secondary .btn .plus{
		padding: 8px;
		background: url("/images/plus.png") 5px 12px no-repeat;
	}
	.article#jumbotron{
		padding-top: 255px;
		padding-top: 17rem;
		padding-bottom: 405px;
		padding-bottom: 27rem;
	}
	.article#article-1>.container{
		padding-top: 105px;
		padding-top: 7rem;
		padding-bottom: 165px;
		padding-bottom: 11rem;
	}
	.article#article-1 .title{
		margin-bottom: 50px;
	}
	.article#article-1 table{
		vertical-align: bottom;
	}
	.article#article-1 h1{
		vertical-align: top;
	}
	.article#article-1 table img{
		float: right;
	}
	.article#article-2>.container{
		position: relative;
		padding-top: 105px;
		padding-top: 7rem;
		padding-bottom: 300px;
		padding-bottom: 20rem;
	}
	.article#article-2 .foreground{
		background-color: #fcfcfc;
	}
	.article#article-2 .rotate-slider-container{
		position: absolute;
    width: 100%;
    bottom: 0px;
    height: 133px;
    background-color: #fcfcfc;
	}
	.article#article-2 .rotate-slider-container #rotate-slider{
		top: 36px;
	}
	.article#article-2 .rotate-slider-container .rorate-slider-hint{
		padding-top: 73px;
		text-align: center;
		font-size: 14px;
		color: #868686;
	}
	.article#article-3>.container{
		padding-top: 105px;
		padding-top: 7rem;
		padding-bottom: 56px;
		padding-bottom: 4rem;
	}
	.article#article-3 .title{
		padding-bottom: 450px;
		padding-bottom: 30rem;
	}
	.article#article-3 h4{
		font-weight: 600;
	}
	.article#article-4>.container{
		padding-top: 150px;
		padding-top: 10rem;
		padding-bottom: 420px;
		padding-bottom: 28rem;
	}
	.article#article-4 p{
		margin-top: 5px;
	}
	.article#article-4 .bubble{
		width: 169px;
		height: 169px;
		padding: 10px;
		background: #fff;
		margin: 0 auto;
	}
	.article#article-4 .bubble .inner{
		border-color: #fce7e1;
	}
	.article#article-4 .bubble h4{
		font-weight: 200;
	}
	.article#article-5>.container{
		padding-top: 105px;
		padding-top: 7rem;
		padding-bottom: 300px;
		padding-bottom: 20rem;
	}
	.article#article-5 p{
		margin-top: 5px;
	}
	.article#article-6 .container{
		padding-top: 105px;
		padding-top: 7rem;
		padding-bottom: 300px;
		padding-bottom: 20rem;
	}
	.article#article-6 .container h2, .article#article-6 .container p{
		color: #fff;
	}
	.article#article-6 .bg .foreground{
		background-color: rgba(48,52,59,0.95);
		background-color: #30343b;
	}
	.article#article-7 .container{
		padding-top: 75px;
		padding-top: 5rem;
		padding-bottom: 195px;
		padding-bottom: 13rem;
	}
	.article#article-7 .bubble{
		width: 195px;
		height: 195px;
		padding: 7px;
	}
	.article#article-7 .bubble .inner h3{
		color: #fff;
		font-weight: 200;
	}
	.article#article-7 .bubble .inner .divider{
		margin: 0 auto;
	}
	.article#article-7 #bubble-left{
		background: #393939;
	}
	.article#article-7 #bubble-left .inner{
		border-color: #808080;
	}
	.article#article-7 #bubble-left .inner h5{
		color: #a9a9a9;
		font-weight: 600;
	}
	.article#article-7 #bubble-left .inner .divider{
		background-color:#a9a9a9;
	}
	.article#article-7 #bubble-right{
		margin-top: 195px;
		background: #f55e66;
	}
	.article#article-7 #bubble-right .inner{
		border-color: #d54753;
	}
	.article#article-7 #bubble-right .inner h5{
		color: #972738;
		font-weight: 600;
	}
	.article#article-7 #bubble-right .inner .divider{
		background-color:#972738;
	}
	.article#article-8 .container{
		padding-top: 105px;
		padding-top: 7rem;
		padding-bottom: 105px;
		padding-bottom: 7rem;
	}
	.article#article-8 .container h2, .article#article-8 .container p{
		color: #fff;
	}
	.article#article-8 .bg .foreground{
		background-color: rgba(48,52,59,0.95);
		background-color: #30343b;
	}
	.article#article-8 .bg .foreground .row .col-md-6, .article#article-6 .bg .foreground .row{
		height: 100%;
		padding-top: 112px;
		padding-top: 8rem;
	}
	.article#article-8 .bg .foreground .row{
		-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
	.article#article-8 .bg .foreground .row .col-md-6.red{
		background-color: #E52E2E;
	}
	.article#article-8 .bg .foreground .row .col-md-6.white{
		background-color: white;
	}
	.article#article-8 .table>tbody>tr>td{
		padding: 4px;
	}
	.article#article-9 .container{
		padding-top: 28px;
		padding-top: 2rem;
		padding-bottom: 42px;
		padding-bottom: 3rem;
	}	
	.article#article-10 .container{
		padding-top: 28px;
		padding-top: 2rem;
		padding-bottom: 28px;
		padding-bottom: 2rem;
	}
	.article#article-10 h1{
		color: #fff;
	}
	.btn-danger{
		background: #ff6468;
		float: right;
	}
	.article#article-10 .btn .arrow{
		padding: 6px;
		background: url("/images/arrow.png") 6px 12px no-repeat;
	}
</style>
<div class="main">
	<div class="article" id="jumbotron">
		<div class="bg">
			<img class="background" src="images/k1-jumbo.jpg"/>
			<div class="foreground"></div>
			<div class="bg-items"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-offset-7">
					<div class="title">
						<h1>K1滑板车</h1>
						<h4>从人的角度研发</h4>
					</div>
				</div> 
			</div>
		</div>
	</div>
	<div class="introduction">
		<nav class="navbar navbar-lite navbar-secondary hidden-xs">
			<div class="outer-container">
			  <div class="container">
			    <div class="collapse navbar-collapse">
			      <ul class="nav navbar-nav">
			      	<li><a>续航</a><span>/</span></li>
			      	<li><a>安全</a><span>/</span></li>
			        <li><a>设计</a><span>/</span></li>
			        <li><a>规格</a><span>/</span></li>
			        <li><a>FAQ</a></li>
			      </ul>
			      <ul class="nav navbar-nav navbar-right">
			        <a href="#" class="btn btn-danger hide">购 买<span class="plus"></span></a>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div>
			</div><!-- /.outer-container -->
		</nav>
		<div class="article anchor-1" id="article-1">
			<div class="bg">
				<div class="background"></div>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title text-center">
							<h1>充满电的K1可以走多远？</h1>
						</div>
					</div>
				</div>
				<table class="table table-borderless">
					<tr class="row">
						<td style="vertical-align: bottom" colspan="2"><h1 style="font-weight: 200"><strong>78-90</strong>公里</h1></td>
						<td class="col-md-4 col-md-offset-1" rowspan="2"><img class="img-responsive" src="images/k1-article1.png"/></td>
					</tr>
					<tr class="row">
						<td style="vertical-align: top; white-space: nowrap" ><span><strong style="font-weight: 100">超长续航</strong></span></td>
						<td style="vertical-align: top; line-height: 25px;" ><span>续航长，选择23.4ah或27ah两种电池，分别续航78km和90km</span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="article anchor-2" id="article-2">
			<div class="bg">
				<div class="background"></div>
				<div class="foreground"></div>
				<div class="bg-items">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<img class="img-responsive" src="images/k1-article2.png"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title text-center">
							<h1>360度主被动灯光提示</h1>
							<h1>全面提升夜间行车安全</h1>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, magna aliqua. </p>
					</div>
				</div>
				<div class="row rotate-slider-container">
					<div class="col-md-8 col-md-offset-2">
						<div id="rotate-slider"></div>
						<div class="rorate-slider-hint">拖动来旋转K1滑板车</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-narrow anchor-3" id="article-3">
			<div class="bg">
				<img class="background" src="images/k1-article3.jpg"/>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="title">
							<h1>防水设计</h1>
							<h4>同样适用于雨天出行</h4>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
					</div>
				</div>
			</div>
		</div>
		<div class="article" id="article-4">
			<div class="bg">
				<img class="background" src="images/k1-article4.jpg"/>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title text-center">
							<h2>原厂可佩座椅，</h2>
							<h2>免去后续打孔、安装麻烦</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<p>一般滑板车不提供原厂座椅，需要购买者自行安装。K1滑板车为您省去麻烦。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="article" id="article-5">
			<div class="bg">
				<img class="background" src="images/k1-article5.jpg"/>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title text-center">
							<h2>车头可安装手机，轻松导航，省时省力</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<p>为了查看短消息，或者出于导航需要，很多时候我们需要将手机从兜里掏出，这个动作不但费力，而且存在一定安全隐患。K1的把手上可以固定手机，让行程更轻松。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-narrow text-reverse" id="article-6">
			<div class="bg">
				<div class="background"></div>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<div class="title">
							<h2>提供USB充电口</h2>
						</div>
						<p>途中手机没电是一个棘手的问题。K1滑板车自带USB充电口，让您安心。</p>
					</div>
				</div>
				<div class="col-md-5">
				</div>
			</div>
		</div>
		<div class="article" id="article-7">
			<div class="bg">
				<div class="foreground"></div>
				<img class="background" src="images/k1-article7.jpg"/>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="bubble" id="bubble-left">
							<div class="inner">
								<h3>更宽轮胎</h3>
								<span class="divider"></span>
								<h5>提高行驶的<br>稳定性</h5>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-md-offset-6">
						<div class="bubble" id="bubble-right">
							<div class="inner">
								<h3>液压减震</h3>
								<span class="divider"></span>
								<h5>前轮液压减震，提高舒适性</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article text-reverse anchor-4" id="article-8">
			<div class="bg">
				<div class="foreground"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-5">
						<div class="title">
							<h2>产品规格</h2>
						</div>				
						<table class="table table-borderless">
							<tr class="row">
								<td class="col-md-6">重量（包含电池）</td>
								<td class="col-md-6">1280克</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">尺寸</td>
								<td class="col-md-6">590mm</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">极限前进速度</td>
								<td class="col-md-6">5米/秒</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">极限后退速度</td>
								<td class="col-md-6">3米/秒</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">方向精准度</td>
								<td class="col-md-6">水平：+/- 10cm</td>
							</tr>
							<tr class="row">
								<td class="col-md-6"></td>
								<td class="col-md-6">垂直：+/- 1m</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">最高时速</td>
								<td class="col-md-6">16米/秒</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">最高海拔</td>
								<td class="col-md-6">6000米</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-narrow anchor-5" id="article-9">
			<div class="bg">
				<div class="foreground"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title text-center">
							<h1>FAQ</h1>
						</div>
						<p>对于自行车，环轨独轮车的优势是什么？</p>
						<p>我可以试骑吗？</p>
						<p>重量如何？方便携带吗？</p>
						<p>是不是有不同规格尺寸的版本？</p>
						<p>骑环轨独轮车需要经过培训吗？</p>
						<p>运费是多少？</p>
						<p>购买一件环轨独轮车，会附送什么配件？</p>
						<p>日常使用，轮胎需要加气吗？</p>
						<p>车能上锁吗？</p>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-narrow text-reverse hide" id="article-10">
			<div class="bg">
				<img class="background" src="images/k1-article10.jpg"/>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h1>K1滑板车已经上架天猫、京东</h1>
						</div>
						<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "</p>
						<a href="#" class="btn btn-danger">查看店面<span class="arrow"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		for(var i = 1, l = $('.navbar-secondary li').length; i <= l; i++){
			var anchor = $('.anchor-' + i).offset().top - 50;
			$('.navbar-secondary li:nth-child(' + i + ')').data("anchor", anchor);
		}
		$(document).scroll(function(){
			var scrollTop = $(document).scrollTop(),
					a = [];

			for(var i = 1, l = $('.navbar-secondary li').length; i <= l; i++){
				a.push($('.navbar-secondary li:nth-child(' + i + ')').data("anchor"));
			}
			
			if(scrollTop >= a[0]){
				$('.navbar-secondary').addClass("navbar-fixed");
			}
			else{
				$('.navbar-secondary').removeClass("navbar-fixed");
			}

			if(scrollTop <= a[0]){
				$('.navbar-secondary li.active').removeClass('active');
			}
			else if(scrollTop >= a[0] && scrollTop <= a[1]){
				$('.navbar-secondary li.active').removeClass('active');
				$('.navbar-secondary li:nth-child(1)').addClass('active');
			}
			else if(scrollTop >= a[1] && scrollTop <= a[2]){
				$('.navbar-secondary li.active').removeClass('active');
				$('.navbar-secondary li:nth-child(2)').addClass('active');
			}
			else if(scrollTop >= a[2] && scrollTop <= a[3]){
				$('.navbar-secondary li.active').removeClass('active');
				$('.navbar-secondary li:nth-child(3)').addClass('active');
			}
			else if(scrollTop >= a[3] && scrollTop <= a[4]){
				$('.navbar-secondary li.active').removeClass('active');
				$('.navbar-secondary li:nth-child(4)').addClass('active');
			}
			else if(scrollTop >= a[4] && scrollTop <= a[5]){
				$('.navbar-secondary li.active').removeClass('active');
				$('.navbar-secondary li:nth-child(5)').addClass('active');
			}
			if(scrollTop >= a[5]){
				$('.navbar-secondary li.active').removeClass('active');
				$('.navbar-secondary li:nth-child(6)').addClass('active');
			}
		});
		$('.navbar-secondary li').click(function(){
			var anchor = $(this).data('anchor');
			$('html, body').animate({
				scrollTop: anchor + 50 + 'px'
			}, 600);
		});
		$('#rotate-slider').slider({
			start: function( event, ui ) {
				$(this).parents('.container').addClass('is-dragging');
			},
			stop: function(event, ui) {
				$(this).parents('.container').removeClass('is-dragging');
			}
		});
	});
		
</script>
{{> footer }}