{{> header }}
<style type="text/css">
nav.navbar.navbar-default li > a[href~="/scooter"], nav.navbar.navbar-default li > a[href~="/scooter"]:hover{
	color:#999;
}
.navbar-secondary .btn .plus{
	padding: 8px;
	background: url("/images/plus.png") 5px 12px no-repeat;
}
.article#jumbotron{
	padding-top: 255px;
	padding-top: 17rem;
	padding-bottom: 405px;
	padding-bottom: 27rem;
}
.article#article-1>.container{
	padding-top: 105px;
	padding-top: 7rem;
	padding-bottom: 105px;
	padding-bottom: 7rem;
}
.article#article-1 .title{
	margin-bottom: 120px;
}
.article#article-2>.container{
	position: relative;
	padding-top: 105px;
	padding-top: 7rem;
	padding-bottom: 540px;
	padding-bottom: 36rem;
}
.article#article-2 .bg .foreground{
	background-color: #fafafa;
}
.article#article-2 .rotate-slider-container{
	position: absolute;
  width: 100%;
  bottom: 0px;
  height: 133px;
  background-color: #fafafa;
}
.article#article-2 .rotate-slider-container #rotate-slider{
	top: 36px;
}
.article#article-2 .rotate-slider-container .rorate-slider-hint{
	padding-top: 73px;
	text-align: center;
	font-size: 14px;
	color: #868686;
}
.article#article-3>.container{
	padding-top: 105px;
	padding-top: 7rem;
	padding-bottom: 60px;
	padding-bottom: 4rem;
}
.article#article-3 .title{
	padding-bottom: 585px;
	padding-bottom: 39rem;
}
.article#article-3 h4{
	font-weight: 600;
}
.article#article-4>.container{
	padding-top: 150px;
	padding-top: 10rem;
	padding-bottom: 360px;
	padding-bottom: 24rem;
}
.article#article-4 p{
	margin-top: 5px;
}
.article#article-4 .bubble{
	width: 169px;
	height: 169px;
	padding: 10px;
	margin: 0 auto;
}
.article#article-4 .bubble h3{
	font-weight: 200;
}
.article#article-5>.container{
	padding-top: 105px;
	padding-top: 7rem;
	padding-bottom: 495px;
	padding-bottom: 33rem;
}
.article#article-5 p{
	margin-top: 5px;
}
.article#article-6 .container{
	padding-top: 105px;
	padding-top: 7rem;
	padding-bottom: 300px;
	padding-bottom: 20rem;
}
.article#article-6 .container h2, .article#article-6 .container p{
	color: #fff;
}
.article#article-6 .bg .foreground .col-md-7{
	background-color: rgba(48,52,59,0.95);
	background-color: #30343b;
	height: 100%;
}
.article#article-6 .bg .foreground .col-md-5{
	height: 100%;
	background: #3e414a;
}
.article#article-6 .bg .bg-items .photo-container{
	padding: 135px 135px 0px 0px;
	padding: 9rem 9rem 0 0;
}
.article#article-7 .container{
	padding-top: 105px;
	padding-top: 7rem;
	padding-bottom: 585px;
	padding-bottom: 39rem;
}
.article#article-8 .container{
	padding-top: 105px;
	padding-top: 7rem;
	padding-bottom: 105px;
	padding-bottom: 7rem;
}
.article#article-8 .bg .foreground{
	background-color: #3e414a;
}
.article#article-8 .container h4{
	color: #a9a9a9;
	font-weight: 600;
}
.article#article-8 .container p{
	color: #fff;
}
.article#article-8 table td{
	padding: 10px 0px;
}
.article#article-9 .container{
	padding-top: 28px;
	padding-top: 2rem;
	padding-bottom: 42px;
	padding-bottom: 3rem;
}	
.article#article-10 .container{
	padding-top: 28px;
	padding-top: 2rem;
	padding-bottom: 28px;
	padding-bottom: 2rem;
}
.article#article-10 h1{
	color: #fff;
}
.btn-danger{
	background: #ff6468;
	float: right;
}
.article#article-10 .btn .arrow{
	padding: 6px;
	background: url("/images/arrow.png") 6px 12px no-repeat;
}
@media only screen and (min-width: 768px){
	.article#article-1 .k1-table{
		position: relative;
		margin-bottom: 60px;
		margin-bottom: 4rem;
	}
	.article#article-1 .k1-table h1{
		margin-bottom: 30px;
	}
	.article#article-1 .k1-table .col-md-3, .article#article-1 .k1-table img{
		position: absolute;
		bottom: 0px;
		right: 0px;
	}
}
@media (max-width: 768px) {
	.article .text-center{
		text-align: left;
	}
	.navbar-secondary .btn .plus{
		padding: 8px;
		background: url("/images/plus.png") 5px 12px no-repeat;
	}
	.article#jumbotron{
		padding-top: 210px;
		padding-top: 14rem;
		padding-bottom: 240px;
		padding-bottom: 16rem;
	}
	.article#article-1>.container{
		padding-top: 0px;
		padding-bottom: 60px;
		padding-bottom: 4rem;
	}
	.article#article-1 .title{
		margin-bottom: 180px;
	}
	.article#article-1 .k1-table h1{
		margin-bottom: 10px;
		font-size: 16px;	
	}
	.article#article-2>.container{
		position: relative;
		padding-top: 240px;
		padding-top: 16rem;
		padding-bottom: 60px;
		padding-bottom: 4rem;
	}
	.article#article-3>.container{
		padding-top: 30px;
		padding-top: 2rem;
		padding-bottom: 300px;
		padding-bottom: 20rem;
	}
	.article#article-3 .title{
		padding-bottom: 0px;
	}
	.article#article-4>.container{
		padding-top: 60px;
		padding-top: 4rem;
		padding-bottom: 300px;
		padding-bottom: 20rem;
	}
	.article#article-5>.container{
		padding-top: 60px;
		padding-top: 4rem;
		padding-bottom: 240px;
		padding-bottom: 16rem;
	}
	.article#article-6 .container{
		padding-top: 60px;
		padding-top: 4rem;
		padding-bottom: 360px;
		padding-bottom: 24rem;
	}
	.article#article-6 .bg .bg-items .photo-container{
		padding: 270px 0px 0px 0px;
		padding: 18rem 0rem 0 0;
	}
	.article#article-7 .container{
		padding-top: 60px;
		padding-top: 4rem;
		padding-bottom: 255px;
		padding-bottom: 17rem;
	}
	.article#article-8 .container{
		text-align: left;
		padding-top: 105px;
		padding-top: 7rem;
		padding-bottom: 105px;
		padding-bottom: 7rem;
	}
	.article#article-8 .bg .foreground{
		background-color: #3e414a;
	}
	.article#article-8 .container h4{
		color: #a9a9a9;
		font-weight: 600;
	}
	.article#article-8 .container p{
		color: #fff;
	}
	.article#article-8 table td{
		padding: 10px 0px;
	}
	.article#article-9 .container{
		text-align: left;
		padding-top: 28px;
		padding-top: 2rem;
		padding-bottom: 42px;
		padding-bottom: 3rem;
	}	
	.article#article-10 .container{
		padding-top: 28px;
		padding-top: 2rem;
		padding-bottom: 28px;
		padding-bottom: 2rem;
	}
	.article#article-10 h1{
		color: #fff;
	}
	.btn-danger{
		background: #ff6468;
		float: right;
	}
	.article#article-10 .btn .arrow{
		padding: 6px;
		background: url("/images/arrow.png") 6px 12px no-repeat;
	}
}
</style>
<div class="main">
	<nav class="navbar navbar-lite navbar-secondary hidden-xs">
		<div class="outer-container">
		  <div class="container">
		    <div class="collapse navbar-collapse">
		      <ul class="nav navbar-nav">
		      	<li><a>K1</a></li>
		      	<li class="active" data-hyperlink="overview"><a>概览</a></li>
		        <li data-hyperlink="breakthroughs"><a>四大突破</a></li>
		        <li data-hyperlink="improvements"><a>数十项改进</a></li>
		        <li data-hyperlink="metrics"><a>产品规格</a></li>
		      </ul>
		      <!-- <ul class="nav navbar-nav navbar-right">
		        <a href="#" class="btn btn-danger hide">购 买<span class="plus"></span></a>
		      </ul> -->
		    </div><!-- /.navbar-collapse -->
		  </div>
		</div><!-- /.outer-container -->
	</nav>
	<div class="content content-active" id="overview">
		<div class="article anchor-0" id="article-1">
			<div class="bg">
				<div class="background"></div>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title text-center">
							<h1>充满电的K1可以走多远？</h1>
						</div>
					</div>
				</div>
				<div class="row k1-table">
					<div class="col-xs-12 col-md-7">
						<h1 style="font-weight: 200;"><strong>78-90</strong>公里</h1>
						<div class="row">
							<div class="col-md-6 hidden-xs">
								<span><strong style="font-weight: 100">超长续航</strong></span>
							</div>
							<div class="col-md-6">
								<span>续航长，选择23.4ah或27ah两种电池，分别续航78公里和90公里</span>
							</div>
						</div>
					</div>
					<div class="hidden-xs col-md-3 col-md-offset-2">
						<img class="img-responsive" src="images/k1-article1.png"/>
					</div>
				</div>
				<div class="row hidden-xs">
					<div class="col-md-12">
						<img class="img-responsive" src="images/k1-article1-2.jpg">
					</div>
				</div>
			</div>
		</div>
		<div class="article anchor-1" id="article-2">
			<div class="bg">
				<div class="foreground"></div>
				<div class="bg-items">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<img class="img-responsive" src="images/k1-article2.png"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title text-center">
							<h1 class="hidden-xs">360度主被动灯光提示</h1>
							<h1 class="hidden-xs">全面提升夜间行车安全</h1>
							<h1 class="visible-xs-block">360度主被动灯光提示，全面提升夜间行车安全</h1>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-4 col-md-offset-4">
						<p>K1滑板车侧面装配有反光条，作为被动灯光提示保障夜间骑行安全。</p>
					</div>
				</div>
			</div>
			<div class="rotate-slider-container hidden-xs">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div id="rotate-slider"></div>
							<div class="rorate-slider-hint">拖动来旋转K1滑板车</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-narrow anchor-2" id="article-3">
			<div class="bg">
				<img class="background" src="images/k1-article3.jpg"/>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-10 col-md-offset-1">
						<div class="title">
							<h1 class="hidden-xs">防水设计</h1>
							<h4 class="hidden-xs">同样适用于雨天出行</h4>
							<h1 class="visible-xs-block">防水设计,同样适用于雨天出行</h1>
						</div>
						<p>有时候出于工作要求，我们不得不在雨天出行。K1经过严格的防水测试，在雨天它不是你的负担。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="article" id="article-4">
			<div class="bg">
				<img class="background" src="images/k1-article4.jpg"/>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title text-center">
							<h2 class="hidden-xs">原厂可佩座椅，</h2>
							<h2 class="hidden-xs">免去后续打孔、安装麻烦</h2>
							<h2 class="visible-xs-block">原厂可佩座椅，免去后续打孔、安装麻烦</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<p>一般滑板车不提供原厂座椅，需要购买者自行安装。K1滑板车为您省去麻烦。</p>
					</div>
				</div>
				<div class="row hidden-xs">
					<div class="col-md-12">
						<div class="bubble">
							<div class="inner">
								<h3>k1</h3>
								<h4>原厂座椅</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article" id="article-5">
			<div class="bg">
				<img class="background" src="images/k1-article5.jpg"/>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title text-center">
							<h2>可通过支架固定手机，轻松导航，省时省力</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<p>行车过程中，为了查看短消息，或者出于导航需要，我们需要将手机从兜里掏出，这个动作不但费力，而且存在一定安全隐患。K1的把手上可以固定手机，让行程更轻松。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="article text-reverse" id="article-6">
			<div class="bg">
				<div class="background"></div>
				<div class="foreground">
					<div class="col-md-7 hidden-xs"></div>
					<div class="col-xs-12 col-md-5"></div>
				</div>
				<div class="bg-items">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-5 col-md-offset-7 photo-container">
								<img class="img-responsive" src="images/k1-article6-bg.png">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<div class="title">
							<h2>提供 USB 充电口，不惧手机导航耗电 </h2>
						</div>
						<p>导航耗电快，途中手机没电是一个棘手的问题。k1 滑板车自带 USB 充电口，让您安心做好代驾的工作。</p>
					</div>
				</div>
				<div class="row hidden-xs">
					<div class="col-md-2">
						<img class="img-responsive" src="images/k1-article6.png">
					</div>
				</div>
			</div>
		</div>
		<div class="article" id="article-7">
			<div class="bg">
				<div class="foreground"></div>
				<img class="background" src="images/k1-article7.jpg"/>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-9 col-xs-offset-3 col-md-6 col-md-offset-6">
						<div class="title">
							<h1>更宽轮胎，行驶更稳定 </h1>
						</div>
						<p>宽轮胎的设计使滑板车的行驶更加稳定。同时提高了通过率，驾驶更加安全</p>
					</div>
				</div>
			</div>
		</div>
		<div class="article text-reverse anchor-3" id="article-8">
			<div class="bg">
				<div class="foreground"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h4>产品规格 /</h4>
						</div>				
						<table class="table table-borderless">
							<tr class="row">
								<td class="col-md-2">续航：</td>
								<td class="col-md-10">78公里(23.4ah) / 90公里(27ah)</td>
							</tr>
							<tr class="row">
								<td class="col-md-2">急速：</td>
								<td class="col-md-10">30公里/每小时</td>
							</tr>
							<tr class="row">
								<td class="col-md-2">动力：</td>
								<td class="col-md-10">250W，后置电动马达</td>
							</tr>
							<tr class="row">
								<td class="col-md-2">电池：</td>
								<td class="col-md-10">锂聚合物电池</td>
							</tr>
							<tr class="row">
								<td class="col-md-2">充电：</td>
								<td class="col-md-10">220伏</td>
							</tr>
							<tr class="row">
								<td class="col-md-2">刹车：</td>
								<td class="col-md-10">后轮鼓刹</td>
							</tr>
							<tr class="row">
								<td class="col-md-2">轮胎：</td>
								<td class="col-md-10">8寸，宽版</td>
							</tr>
							<tr class="row">
								<td class="col-md-2">折叠性能：</td>
								<td class="col-md-10">1秒折叠</td>
							</tr>
							<tr class="row">
								<td class="col-md-2">重量：</td>
								<td class="col-md-10">20公斤</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-narrow anchor-4" id="article-9">
			<div class="bg">
				<div class="foreground"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title text-center">
							<h1>FAQ</h1>
						</div>
						<p>K1什么时候上市？</p>
						<p>对于自行车，电动滑板车的优势是什么？</p>
						<p>我可以试骑吗？</p>
						<p>是否有不同规格尺寸的版本？</p>
						<p>日常使用，轮胎需要加气吗？</p>
						<p>车能上锁吗？</p>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-narrow text-reverse hide" id="article-10">
			<div class="bg">
				<img class="background" src="images/k1-article10.jpg"/>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h1>K1滑板车已经上架天猫、京东</h1>
						</div>
						<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "</p>
						<a href="#" class="btn btn-danger">查看店面<span class="arrow"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content" id="breakthroughs">
		<h1>四大改进</h1>
	</div>
	<div class="content" id="improvements">
		<h1>数十项改进</h1>
	</div>
	<div class="content" id="metrics">
		<h1>产品规格</h1>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('.main').css('height', $('.content-active').height());
		$(document).scroll(function(){
			var scrollTop = $(document).scrollTop();
			//decide whether need to fix secondary navigation bar and light up corresponding nav>li
			if(scrollTop >= 50){
				$('.navbar-secondary').addClass("navbar-fixed");
			}
			else{
				$('.navbar-secondary').removeClass("navbar-fixed");
			}
		});
		$('.navbar-secondary li').not(':first-child').click(function(){
			var current = $('.content-active');
			var target = $(this).data('hyperlink');
			if(current.attr('id') == target) {
				return;
			}

			var next = $('#' + target);
			if($(document).scrollTop() > 50){
				$(document).scrollTop(50);
			}
			$('.main').css('height', Math.max(current.height(), next.height()));
			$('.navbar-secondary .navbar-nav li.active').removeClass('active');
			$(this).addClass('active');
			current.animate(
				{
					opacity: 0
				},
				{
					duration: 700,
					step: function(now, fx) {
						next.css('opacity', 1 - now);
					},
					complete: function() {
						current.removeClass('content-active');
						current.css('opacity', '');
						next.addClass('content-active');
						$('.main').css('height', next.height());
					}
				}
			);
		});
		$('#rotate-slider').slider({
			start: function( event, ui ) {
				$(this).parents('.container').addClass('is-dragging');
			},
			stop: function(event, ui) {
				$(this).parents('.container').removeClass('is-dragging');
			}
		});
	});
		
</script>
{{> footer }}