{{> header }}
<style type="text/css">
.page-wrap{
	margin-bottom: 0px;
}
.page-wrap:after{
	height: 0px;
}
</style>
<div class="main">
	<div class="article article-full article-center">
		<div class="bg">
			<div class="background">
				<video type="video/mp4" autoplay=true width=100% src="index.mp4" style="visibility: visible;"></video>
			</div>
			<div class="foreground"></div>
			<div class="bg-items">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 hidden-xs">
							<img class="img-responsive" src="images/home-1.png"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>