{{> header }}
<style>
	nav.navbar.navbar-default li > a[href~="/"], nav.navbar.navbar-default li > a[href~="/"]:hover{
		color:#888;   /*$grey, reverse-selected*/
	}
	.article#jumbotron .container-fluid, .article#jumbotron .col-sm-6{
		padding: 0px;
	}
	.article#jumbotron>.container-fluid{
		width: 100%;
	}
	.article#jumbotron-mobile .carousel-indicators{
		bottom: 6.5px;
	}
	.article#jumbotron-mobile .carousel-indicators li{
		width:8px;
		height:8px;
		background-color:#888;     /*$grey, carousel-indicator*/
		margin: 0px 6px;
		border: 1px solid #888;    /*$grey, carousel-indicator border*/
	}
	.article#jumbotron-mobile .carousel-indicators li.active {
		width: 8px;
		height: 8px;
		background-color:#fff;     /*$white, carousel-indicator active*/
		border-color: #888;				 /*$grey, carousel-indicator border*/
	}
	.article#jumbotron-mobile .carousel-inner .item .carousel-caption {
		top: 30%;
		text-shadow: none;
	}
	.main-intro {
		padding-bottom: 48px;
	}
	.main-intro .article .text-right p:first-child{
		margin-right: 50px;
	}
	@media only screen and (max-width: 1068px) and (min-width: 768px) { 
		.article#jumbotron-mobile .carousel-inner .item .carousel-caption h1{
			font-size: 62px;
			line-height: 1em;
			margin-bottom: 28px;
			font-weight: 800;
		}
	}
	@media only screen and (max-width: 767px) { 
		.article#jumbotron-mobile .carousel-inner .item .carousel-caption h1{
			font-size: 37px;
			line-height: 1em;
			margin-bottom: 28px;
			font-weight: 800;
		}
		.main .main-intro {
			padding-top: 78px;
			padding-bottom: 28px;
		}
	}
</style>
<script>
	$(document).ready(function(){
		resizeJumbo();
		$(window).resize(resizeJumbo);
	});
	function resizeJumbo() {
		var article = $('#jumbotron');
		var containerWidth = article.width();
		var defer = $.Deferred();
		var bgImg = $($(".bg-items img")[0]);
		defer.promise(bgImg);
		(function resolveWhenImageHeaderLoaded() {
			if(bgImg.width() && bgImg.height) {
				defer.resolve();
			}
			else{
				setTimeout(resolveWhenImageHeaderLoaded, 100)
			}
		})();
		bgImg.done(function(){
			var bgWidthHeightRatio = bgImg.width() / bgImg.height();
			var containerHeight = containerWidth / 2 / bgWidthHeightRatio;
			article.css('height', containerHeight);
		});
	}
</script>
<div class="main">
	<div class="article article-750 article-center article-v-center hidden-sm hidden-xs" id="jumbotron">
		<div class="bg">
			<div class="foreground"></div>
			<div class="bg-items">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6">
							<img class="img-responsive" src="images/index-k1.jpg"/>
						</div>
						<div class="col-sm-6">
							<img class="img-responsive" src="images/index-l1.jpg"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<h1 class="text-red">质胜每一步</h1>
					<span class="mis1 text-red"><a class="hyperlink hyperlink-red" href="/scooter-k1">一号滑板车 ></a></span>
				</div>
				<div class="col-sm-6">
					<h1 class="text-reverse">轻生活，骑出彩</h1>
					<span class="mis1 text-reverse">/ 规划中的智慧出行蓝图，敬请期待</span>
				</div>
			</div>
		</div>
	</div>
	<div class="article hidden-md hidden-lg" id="jumbotron-mobile">
		<div id="index-carousel" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#index-carousel" data-slide-to="0" class="active"></li>
		    <li data-target="#index-carousel" data-slide-to="1"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <img src="images/index-k1.jpg" alt="..."/>
		      <div class="carousel-caption">
		        <h1 class="text-red">质胜每一步</h1>
						<span class="mis1 text-red"><a class="hyperlink hyperlink-red" href="/scooter-k1">一号滑板车 ></a></span>
		      </div>
		    </div>
		    <div class="item">
		      <img src="images/index-l1.jpg" alt="..."/>
		      <div class="carousel-caption">
		        <h1 class="text-reverse">轻生活，骑出彩</h1>
						<span class="mis1 text-reverse">/ 规划中的智慧出行蓝图，敬请期待</span>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="main-intro">
		<nav class="navbar navbar-lite navbar-secondary">
			<div class="outer-container">
			  <div class="container">
			    <div class="navbar-collapse">
			      <ul class="nav text-center">
			      	<li><a class="static">关于美步科技 /</a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div>
			</div><!-- /.outer-container -->
		</nav>
		<div class="article hidden-xs">
			<div class="bg">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
						<h3>定制你的出行方式</h3>
					</div>
					<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
						<p class="block-display">美步科技旨在为人们定制出行方式。我们提出P.E.T的概念，认为人们出行所需的交通工具将越来越轻量化、智能化——90%以上的情况将是个人使用，也因此能更好的地满足用户个性化、关怀等需求。<br>
						六年前创始团队在清华大学成立专门的团队探索、研究智能出行，成立公司后，我们迅速组建了智能车技术背景的20人核心研发团队，成员全部来自清华大学、同济汽车学院等相关院系毕业生，公司有极强的正向研发能力和完整且业界领先的供应链与生产管理。<br>
						截至 2015 年 12 月，公司一号产品（K1 系列）已经研发完成并投入生产。 <br></p>
						<div class="text-right">
							<p class="text-red"><a class="hyperlink hyperlink-red" href="/scooter-k1">一号产品 ></a></p>
							<p class="text-red"><a class="hyperlink hyperlink-red" href="/future">更多 P.E.T 概念 ></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article visible-xs-block">
			<div class="bg">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h3>定制你的出行方式</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="collapse-paragraph collapsed">
							<p class="block-display">美步科技旨在为人们定制出行方式。我们提出P.E.T的概念，认为人们出行所需的交通工具将越来越轻量化、智能化——90%以上的情况将是个人使用，也因此能更好的地满足用户个性化、关怀等需求。<br>
							六年前创始团队在清华大学成立专门的团队探索、研究智能出行，成立公司后，我们迅速组建了智能车技术背景的20人核心研发团队，成员全部来自清华大学、同济汽车学院等相关院系毕业生，公司有极强的正向研发能力和完整且业界领先的供应链与生产管理。<br>
							截至 2015 年 12 月，公司一号产品（K1 系列）已经研发完成并投入生产。 <br></p>
							<div class="collapse-control">
								<a class="hyperlink hyperlink-red" data-control="collapse">收起</a>
								<a class="hyperlink hyperlink-red" data-control="expand">展开</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<nav class="navbar navbar-grey navbar-third visible-xs-block">
	  <div class="container">
	    <div class="navbar-collapse" id="third-nav">
	      <ul class="nav navbar-nav">
	        <li><a href="/scooter-k1">滑板车K1</a></li>
	        <li><a href="/scooter-l1">滑板车L1</a></li>
	        <li><a href="/about">团队介绍</a></li>
	        <li><a href="/future">想象未来</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</div>
{{> footer }}