{{> header }}
<div class="main">
	<div class="article article-full article-center">
		<div class="bg">
			<video type="video/mp4" autoplay=true width=100% src="index.mp4" loop="true" style="visibility: visible;"></video>
			<div class="foreground"></div>
			<div class="bg-items">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 hidden-xs">
							<img class="img-responsive" src="images/home-1.png"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
			</div>
		</div>
	</div>
</div>
{{> footer }}