{{> header }}
<div class="main">
	<div class="article article-full article-center">
		<div class="bg">
			<img class="background" src="images/home-bg.jpg"/>
			<div class="foreground"></div>
			<div class="bg-items">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 hidden-xs">
							<img class="img-responsive" src="images/home-1.png"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>环轨独轮车</h1>
					<p>在脚下，不经意加速你的路途</p>
					<a href="/pinghengche" class="btn btn-danger">了解更多<i class="material-icons">&#xE409;</i></a>
				</div> 
			</div>
		</div>
	</div>
</div>
{{> footer }}