{{> header }}
<style type="text/css">
.page-wrap{
	margin-bottom: 0px;
}
.page-wrap:after{
	height: 0px;
}
.article {
	position: relative;
}
video.background {
  object-fit: cover;
}
.play, .detail{
	position: absolute;
}
.play{
	color: #333;
	text-decoration: underline;
	cursor: pointer;
}
.play:hover{
	color: #7e7e7e;
}
.detail{
	border-color: #fff;
  background-color: #fff;
}
.detail:hover{
	border-color: #f8f8f8;
  background-color: #f8f8f8;
}
.detail .arrow{
	padding: 7px;
	background: url("/images/arrow-red.png") 8px 12px no-repeat;
}
</style>
<div class="main">
	<div class="article article-full article-center">
		<div class="bg">
			<video class="background" autoplay style="visibility: visible;" width="2314px" height="1080px">
				<source src="index.mp4" type="video/mp4">
				<img src="/images/index-jumbo.png">
			</video>
			<div class="foreground"></div>
			<div class="bg-items">
			</div>
		</div>
		<a class="play" style="display: none">回 放</a>
		<a class="detail btn btn-default" style="display: none" href="/huabanche">查 看<span class="arrow"></span></a>
	</div>
</div>
</div>
<script type="text/javascript">
$('.article').first().on('resized', function(){
	var origin = {
			height: 1080,
			width: 2314,
			play: {
				top: 500,
				left: 984
			},
			detail: {
				top: 500,
				right: 972
			}
		},
		containerHeight = $('video').height(),
		containerWidth = $('video').width();

	$('.play').css({
		"top": containerHeight / origin.height * origin.play.top + parseFloat($('.btn').css('padding')) + parseFloat($('.btn').css('margin')) + 3,
		"left": containerWidth / origin.width * origin.play.left + parseFloat($('video').css("left"))
	});
	$('.detail').css({
		"top": containerHeight / origin.height * origin.detail.top,
		"right": containerWidth / origin.width * origin.detail.right + parseFloat($('video').css("left"))
	});
});
$('video').on('ended', function(){
	$('.article a').show();
});
$('.play').click(function(){
	$('.article a').hide();
	$('video')[0].play();
})
</script>
</body>
</html>