{{> header }}
<style type="text/css">
nav.navbar.navbar-default li > a[href~="/"], nav.navbar.navbar-default li > a[href~="/"]:hover{
	color:#999;
}
.page-wrap{
	margin-bottom: 0px;
}
.page-wrap:after{
	height: 0px;
}
.article {
	position: relative;
}
video.background {
  object-fit: cover;
}
.btn-ghost{
	background: transparent;
}
.play, .detail{
	position: absolute;
}
.play.btn-ghost{
	color: #333;
	border: 1px solid #333;
}
.play.btn-ghost:hover{
	color: #fff;
	background-color: #333;
}
.detail.btn-ghost{
	color: #ef483b;
	border: 1px solid #ef483b;
}
.detail.btn-ghost:hover{
	color: #fff;
	background-color: #ef483b;
}
.detail .arrow{
	padding: 7px;
	background: url("/images/arrow-red.png") 8px 12px no-repeat;
}
</style>
<div class="main">
	<div class="article article-full article-center hidden-xs">
		<div class="bg">
			<video class="background hidden-xs" autoplay style="visibility: visible;" width="2314px" height="1080px">
				<source src="index.mp4" type="video/mp4">
				<img src="/images/index-jumbo.png">
			</video>
			<div class="foreground"></div>
			<div class="bg-items">
			</div>
		</div>
		<a class="play btn btn-ghost" style="display: none">回 放</a>
		<a class="detail btn btn-ghost" style="display: none" href="/scooter">查 看<span class="arrow"></span></a>
	</div>
	<div class="article article-full article-center visible-xs-block">
		<div class="bg">
			<img class="background visible-xs-block" src="/images/index-jumbo-mobi.png">
			<div class="foreground"></div>
			<div class="bg-items">
			</div>
		</div>
		<a class="play" style="display: none">回 放</a>
		<a class="detail btn btn-default" style="display: none" href="/scooter">查 看<span class="arrow"></span></a>
	</div>
</div>
</div>
<script type="text/javascript">
$('.article').first().on('resized', function(){
	var origin = {
			height: 1194,
			width: 2560,
			play: {
				top: 560,
				left: 1055
			},
			detail: {
				top: 560,
				right: 1061
			}
		},
		containerHeight = $('video').height(),
		containerWidth = $('video').width();

	$('.play').css({
		"top": containerHeight / origin.height * origin.detail.top,
		"left": containerWidth / origin.width * origin.play.left + parseFloat($('video').css("left"))
	});
	$('.detail').css({
		"top": containerHeight / origin.height * origin.detail.top,
		"right": containerWidth / origin.width * origin.detail.right + parseFloat($('video').css("left"))
	});
});
$('video').on('ended', function(){
	$('.article a').show();
});
$('.play').click(function(){
	$('.article a').hide();
	$('video')[0].play();
})
</script>
</body>
</html>