{{> header }}
<style>
	nav.navbar.navbar-default li > a[href~="/scooter-l1"], nav.navbar.navbar-default li > a[href~="/scooter-l1"]:hover{
		color: #888;   /*$grey, reverse-selected*/
	}
	.article .background {
		right: 0px !important;
		bottom: 0px !important;
	}
	.article .container {
		padding-top: 20%;
	}
	.article h3{
		vertical-align: middle;
	}
	.article h3 span {
		font-size: 62px;
		line-height: 72px;
		font-weight: 100;
		margin-right: 36px;
		vertical-align: middle;
	}
	@media only screen and (max-width: 1068px) { 
		.article h3 span {
			font-size: 48px;
			line-height: 58px;
			display: block;
		}
	}
	@media only screen and (max-width: 767px) { 
		.article h3 span {
			font-size: 42px;
			line-height: 52px;
		}
	}
	@media only screen and (min-width: 1069px) { 
		.article h3{
			margin-left: -5%;
		}
	}
	@media only screen and (min-width: 1600px) { 
		.article h3{
			margin-left: -10%;
		}
	}
</style>
<div class="main">
	<div class="article article-full">
		<div class="bg">
			<img class="background" src="images/l1-1.jpg"/>
			<div class="foreground"></div>
		</div>
		<div class="content container">
			<div class="row">
				<div class="col-sm-12">
					<h3><span>轻生活，骑出彩</span> /规划中的智慧出行蓝图，敬请期待</h3>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer }}