{{> header }}
<style type="text/css">
nav.navbar.navbar-default li > a[href~="/scooter-k1"], nav.navbar.navbar-default li > a[href~="/scooter-k1"]:hover{
	color:#888;  /*$grey, reverse-selected*/
}
.navbar-secondary .btn .plus{
	padding: 8px;
	background: url("/images/plus.png") 5px 12px no-repeat;
}
.article .container{
	padding-top: 48px;
	padding-bottom: 48px;
}
.article:first-child .container{
	margin-top: 50px;
}
#overview-6.article div.h1wrapper {
	margin-bottom:16px;
}
#overview-6.article div.h1wrapper h1 {
	position: relative;
	display: inline;
} 
#overview-6.article div.h1wrapper img {
	position: absolute;
	width: 103px;
	top: -66px;
	left: 4px;
} 
#improvements .article .row{
	margin-bottom: 48px;
}
#improvements .article .row:last-child{
	margin-bottom: 0px;
}
#improvements .article .row .mis1.text-center{
	margin-bottom: 0px;
}
#improvements .article .row .col-sm-6:last-child{
	 padding-left: 57px;
}
#metrics #metrics-1 .foreground {
	background-color: #2b2d33;   /*dark-bg*/
}
#metrics .table-container {
	padding-top: 18px;
	padding-bottom: 18px;
	border-bottom: 1px solid #6e6e6e;  /*$grey-darker, border on dark-bg*/
}
#metrics .container>.row:first-child .table-container {
	padding-top: 0px;
}
#metrics .container>.row:last-child .table-container {
	padding-bottom: 0px;
	border-bottom: none;
}
#metrics table{
	margin: 0px;
}
#metrics table tr{
	height: 32px;
}
@media only screen and (max-width: 767px) {
	#improvements .article .row .col-sm-6:last-child{
	 	padding-left: 15px;
	}
	#overview-6.article div.h1wrapper img {
		position: relative;
		top: 0px;
		left: 0px;
		display: block;
    margin: 0 auto;
	}     
}
</style>
<div class="main">
	<nav class="navbar navbar-lite navbar-secondary">
		<div class="outer-container">
		  <div class="container">
			  <div class="navbar-header">
			  	<a class="navbar-brand hyperlink" data-hyperlink="overview"><span>美步K1</span></a>
		      <button type="button" class="navbar-toggle collapsed btn-arrow" data-toggle="collapse" data-target="#secondary-nav">
		        <span class="sr-only">Toggle navigation</span>
		        <i class="material-icons">&#xE313;</i>
		      </button>
		    </div>
		    <div class="collapse navbar-collapse" id="secondary-nav">
		      <ul class="nav navbar-nav">
		      	<li class="hyperlink active" data-hyperlink="overview"><a>概览</a></li>
		        <li class="hyperlink" data-hyperlink="breakthroughs"><a>四大突破</a></li>
		        <li class="hyperlink" data-hyperlink="improvements"><a>数十项改进</a></li>
		        <li class="hyperlink" data-hyperlink="metrics"><a>产品规格</a></li>
		      </ul>
		      <!-- <ul class="nav navbar-nav navbar-right">
		        <a href="#" class="btn btn-danger hide">购 买<span class="plus"></span></a>
		      </ul> -->
		    </div><!-- /.navbar-collapse -->
		  </div>
		</div><!-- /.outer-container -->
	</nav>
	<div class="content content-active" id="overview">
		<div class="article article-750 article-center" id="overview-1">
			<div class="bg">
				<picture alt="k1-overview-1">
					<!-- low-res, default -->
					<source srcset="images/k1-overview-1-small.jpg 1x,
									images/k1-overview-1-small2x.jpg 2x"
									media="(max-width: 767px)">
					<!-- med-res -->
				  <source srcset="images/k1-overview-1-medium.jpg 1x,
									images/k1-overview-1-medium2x.jpg 2x"
									media="(min-width: 768px) and (max-width: 1068px)">
				  <!-- high-res -->
				  <source srcset="images/k1-overview-1.jpg" 
									media="(min-width: 1069px)">
					<!-- Fallback content -->
					<img class="background" src="images/k1-overview-1.jpg" alt="k1-overview-1">
				</picture>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h2>美步滑板车K1</h2>
						<h1>以汽车级的技术和工艺，<br>做一辆高品质的电动滑板车！</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-750" id="overview-2">
			<div class="bg">
				<picture alt="k1-overview-2">
					<!-- low-res, default -->
					<source srcset="images/k1-overview-2-small.jpg 1x,
									images/k1-overview-2-small2x.jpg 2x"
									media="(max-width: 767px)">
					<!-- med-res -->
				  <source srcset="images/k1-overview-2-medium.jpg 1x,
									images/k1-overview-2-medium2x.jpg 2x"
									media="(min-width: 768px) and (max-width: 1068px)">
				  <!-- high-res -->
				  <source srcset="images/k1-overview-2.jpg" 
									media="(min-width: 1069px)">
					<!-- Fallback content -->
					<img class="background" src="images/k1-overview-2.jpg" alt="k1-overview-2">
				</picture>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h1>强悍，性能是主打</h1>
						<p>有没有一辆滑板车满足全天候的骑行要求？我们正尝试打造市面上最高性能的电动滑板车。从结构设计、选材到组装，设计团队优先考虑的是如何将滑板车性能发挥到极致。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-750" id="overview-3">
			<div class="bg">
				<picture alt="k1-overview-3">
					<!-- low-res, default -->
					<source srcset="images/k1-overview-3-small.jpg 1x,
									images/k1-overview-3-small2x.jpg 2x"
									media="(max-width: 767px)">
					<!-- med-res -->
				  <source srcset="images/k1-overview-3-medium.jpg 1x,
									images/k1-overview-3-medium2x.jpg 2x"
									media="(min-width: 768px) and (max-width: 1068px)">
				  <!-- high-res -->
				  <source srcset="images/k1-overview-3.jpg" 
									media="(min-width: 1069px)">
					<!-- Fallback content -->
					<img class="background" src="images/k1-overview-3.jpg" alt="k1-overview-3">
				</picture>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h1 class="text-center">极简外观</h1>
						<p>在主打性能的同时，我们用删繁就简的设计原则主导每一步设计。一体化设计的核心机构，抛丸氧化表面处理，造就K1的极简外形。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-750" id="overview-4">
			<div class="bg">
				<picture alt="k1-overview-4">
					<!-- low-res, default -->
					<source srcset="images/k1-overview-4-small.jpg 1x,
									images/k1-overview-4-small2x.jpg 2x"
									media="(max-width: 767px)">
					<!-- med-res -->
				  <source srcset="images/k1-overview-4-medium.jpg 1x,
									images/k1-overview-4-medium2x.jpg 2x"
									media="(min-width: 768px) and (max-width: 1068px)">
				  <!-- high-res -->
				  <source srcset="images/k1-overview-4.jpg" 
									media="(min-width: 1069px)">
					<!-- Fallback content -->
					<img class="background" src="images/k1-overview-4.jpg" alt="k1-overview-4">
				</picture>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-6">
						<h1>四大核心突破</h1>
						<span class="mis1 block-display">/ 百公里续航 <br>/ IP65级防水 <br>/ 360°照明 <br>/ 结构创新</span>
						<p class="block-display">采用三星原装电池，主打性能与车身强度，是首款达到IP65级防水级别的电动滑板车。<br>
						配选28.8Ah电池，续航可达100km。车身采用多角度的灯光防护设计，可反射汽车灯光源，同样适用于夜间骑行。</p>
						<span class="mis2 block-display hyperlink hyperlink-red" data-hyperlink="breakthroughs">了解核心突破 ></span>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-750" id="overview-5">
			<div class="bg">
				<picture alt="k1-overview-5">
					<!-- low-res, default -->
					<source srcset="images/k1-overview-5-small.jpg 1x,
									images/k1-overview-5-small2x.jpg 2x"
									media="(max-width: 767px)">
					<!-- med-res -->
				  <source srcset="images/k1-overview-5-medium.jpg 1x,
									images/k1-overview-5-medium2x.jpg 2x"
									media="(min-width: 768px) and (max-width: 1068px)">
				  <!-- high-res -->
				  <source srcset="images/k1-overview-5.jpg" 
									media="(min-width: 1069px)">
					<!-- Fallback content -->
					<img class="background" src="images/k1-overview-5.jpg" alt="k1-overview-5">
				</picture>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-6">
						<h1>数十项改进，<br>只为骑行更安全舒适</h1>
						<p class="block-display">设计团队针对现有滑板车存在的不足，对数十个细节进行优化，提升了骑行体验。自带USB充电口，免充气的实心防爆胎，优秀的折叠装置设计等。可选配原厂座椅。</p>
						<span class="mis2 block-display hyperlink-red hyperlink" data-hyperlink="improvements">了解改进 ></span>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-750 article-center article-v-center" id="overview-6">
			<div class="bg">
				<picture alt="k1-overview-6">
					<!-- low-res, default -->
					<source srcset="images/k1-overview-6-small.jpg 1x,
									images/k1-overview-6-small2x.jpg 2x"
									media="(max-width: 767px)">
					<!-- med-res -->
				  <source srcset="images/k1-overview-6-medium.jpg 1x,
									images/k1-overview-6-medium2x.jpg 2x"
									media="(min-width: 768px) and (max-width: 1068px)">
				  <!-- high-res -->
				  <source srcset="images/k1-overview-6.jpg" 
									media="(min-width: 1069px)">
					<!-- Fallback content -->
					<img class="background" src="images/k1-overview-6.jpg" alt="k1-overview-6">
				</picture>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="h1wrapper">
							<h1 class="catch-copy text-reverse">
								<img src="images/k1-logo.png"/>	
								世界上性能最强的电动滑板车！
							</h1>
						</div>
						<span class="mis2 hyperlink-reverse hyperlink" data-hyperlink="breakthroughs">了解更多 ></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content" id="breakthroughs">
		<div class="article article-750" id="breakthroughs-1-1">
			<div class="bg">
				<picture alt="k1-breakthroughs-1-1">
					<!-- low-res, default -->
					<source srcset="images/k1-breakthroughs-1-1-small.jpg 1x,
									images/k1-breakthroughs-1-1-small2x.jpg 2x"
									media="(max-width: 767px)">
					<!-- med-res -->
				  <source srcset="images/k1-breakthroughs-1-1-medium.jpg 1x,
									images/k1-breakthroughs-1-1-medium2x.jpg 2x"
									media="(min-width: 768px) and (max-width: 1068px)">
				  <!-- high-res -->
				  <source srcset="images/k1-breakthroughs-1-1.jpg" 
									media="(min-width: 1069px)">
					<!-- Fallback content -->
					<img class="background" src="images/k1-breakthroughs-1-1.jpg" alt="k1-breakthroughs-1-1">
				</picture>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h1 class="catch-copy text-red text-center">突破<em>1</em> /</h1>
						<h1 class="text-center text-reverse">百公里续航</h1>
						<p class="text-reverse">28.8Ah电池组，提供100km超长续航。在频繁加减速的综合路况下，也能达到90km。是世界上续航最长的滑板车。</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-750" id="breakthroughs-1-2">
			<div class="bg">
				<picture alt="k1-breakthroughs-1-2">
					<!-- low-res, default -->
					<source srcset="images/k1-breakthroughs-1-2-small.jpg 1x,
									images/k1-breakthroughs-1-2-small2x.jpg 2x"
									media="(max-width: 767px)">
					<!-- med-res -->
				  <source srcset="images/k1-breakthroughs-1-2-medium.jpg 1x,
									images/k1-breakthroughs-1-2-medium2x.jpg 2x"
									media="(min-width: 768px) and (max-width: 1068px)">
				  <!-- high-res -->
				  <source srcset="images/k1-breakthroughs-1-2.jpg" 
									media="(min-width: 1069px)">
					<!-- Fallback content -->
					<img class="background" src="images/k1-breakthroughs-1-2.jpg" alt="k1-breakthroughs-1-2">
				</picture>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h3>三星原装电池，品质有保障</h3>
						<p class="block-display">进口三星高倍率锂电池组，续航和动力性更均衡。</p>
						<small>电池合作伙伴</small>
						<img src="images/samsung-icon.png" />
					</div>
				</div>
			</div>
		</div>
		<div class="article article-750" id="breakthroughs-2-1">
			<div class="bg">
				<picture alt="k1-breakthroughs-2-1">
					<!-- low-res, default -->
					<source srcset="images/k1-breakthroughs-2-1-small.jpg 1x,
									images/k1-breakthroughs-2-1-small2x.jpg 2x"
									media="(max-width: 767px)">
					<!-- med-res -->
				  <source srcset="images/k1-breakthroughs-2-1-medium.jpg 1x,
									images/k1-breakthroughs-2-1-medium2x.jpg 2x"
									media="(min-width: 768px) and (max-width: 1068px)">
				  <!-- high-res -->
				  <source srcset="images/k1-breakthroughs-2-1.jpg" 
									media="(min-width: 1069px)">
					<!-- Fallback content -->
					<img class="background" src="images/k1-breakthroughs-2-1.jpg" alt="k1-breakthroughs-2-1">
				</picture>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-6">
						<h1 class="catch-copy text-red">突破<em>2</em> /</h1>
						<h1>IP65级防水</h1>
						<p>行业首创的IP65级防水，将汽车级别的防水方式应用到滑板车领域。可以在雨、雪等各种路况下骑行。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-750 article-v-bottom" id="breakthroughs-2-2">
			<div class="bg">
				<picture alt="k1-breakthroughs-2-2">
					<!-- low-res, default -->
					<source srcset="images/k1-breakthroughs-2-2-small.jpg 1x,
									images/k1-breakthroughs-2-2-small2x.jpg 2x"
									media="(max-width: 767px)">
					<!-- med-res -->
				  <source srcset="images/k1-breakthroughs-2-2-medium.jpg 1x,
									images/k1-breakthroughs-2-2-medium2x.jpg 2x"
									media="(min-width: 768px) and (max-width: 1068px)">
				  <!-- high-res -->
				  <source srcset="images/k1-breakthroughs-2-2.jpg" 
									media="(min-width: 1069px)">
					<!-- Fallback content -->
					<img class="background" src="images/k1-breakthroughs-2-2.jpg" alt="k1-breakthroughs-2-2">
				</picture>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 col-xs-12">
						<h3 class="text-center">首创电池仓密闭处理技术</h3>
						<p class="block-display">电池仓采用密封设计，前后隔板防止车轮将水卷入。电池仓与盖板之间使用橡胶防水垫进行加密，全方位提升雨天骑行的可行性。</p>
						<small>*需要注意，本车可在雨、雪天气下正常行驶，但不能涉水，当水位淹至踏板面时，可能会造成电机或其他部件的进水生锈或失效。</small>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-750 article-v-bottom" id="breakthroughs-3-1">
			<div class="bg">
				<picture alt="k1-breakthroughs-3-1">
					<!-- low-res, default -->
					<source srcset="images/k1-breakthroughs-3-1-small.jpg 1x,
									images/k1-breakthroughs-3-1-small2x.jpg 2x"
									media="(max-width: 767px)">
					<!-- med-res -->
				  <source srcset="images/k1-breakthroughs-3-1-medium.jpg 1x,
									images/k1-breakthroughs-3-1-medium2x.jpg 2x"
									media="(min-width: 768px) and (max-width: 1068px)">
				  <!-- high-res -->
				  <source srcset="images/k1-breakthroughs-3-1.jpg" 
									media="(min-width: 1069px)">
					<!-- Fallback content -->
					<img class="background" src="images/k1-breakthroughs-3-1.jpg" alt="k1-breakthroughs-3-1">
				</picture>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h1 class="catch-copy text-red text-center">突破<em>3</em> /</h1>
						<h1 class="text-reverse">360°照明防护，夜间骑行无忧</h1>
						<p class="text-reverse">考虑到夜间骑行的可视性，作为整车安全防护，加上了360°可见的主被动灯光辅助系统，旨在满足夜间出行的需求。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-750 article-v-bottom" id="breakthroughs-3-2">
			<div class="bg">
				<picture alt="k1-breakthroughs-3-2">
					<!-- low-res, default -->
					<source srcset="images/k1-breakthroughs-3-2-small.jpg 1x,
									images/k1-breakthroughs-3-2-small2x.jpg 2x"
									media="(max-width: 767px)">
					<!-- med-res -->
				  <source srcset="images/k1-breakthroughs-3-2-medium.jpg 1x,
									images/k1-breakthroughs-3-2-medium2x.jpg 2x"
									media="(min-width: 768px) and (max-width: 1068px)">
				  <!-- high-res -->
				  <source srcset="images/k1-breakthroughs-3-2.jpg" 
									media="(min-width: 1069px)">
					<!-- Fallback content -->
					<img class="background" src="images/k1-breakthroughs-3-2.jpg" alt="k1-breakthroughs-3-2">
				</picture>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h3 class="text-center">引入反光材料，全方位的灯光辅助系统</h3>
						<p>K1组合灯光包括前LED大灯，后LED尾灯，左右侧被动灯光，可以反射汽车灯光源。通过360°灯光系统，提高夜间行车的安全性。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-750" id="breakthroughs-4-1">
			<div class="bg">
				<picture alt="k1-breakthroughs-4-1">
					<!-- low-res, default -->
					<source srcset="images/k1-breakthroughs-4-1-small.jpg 1x,
									images/k1-breakthroughs-4-1-small2x.jpg 2x"
									media="(max-width: 767px)">
					<!-- med-res -->
				  <source srcset="images/k1-breakthroughs-4-1-medium.jpg 1x,
									images/k1-breakthroughs-4-1-medium2x.jpg 2x"
									media="(min-width: 768px) and (max-width: 1068px)">
				  <!-- high-res -->
				  <source srcset="images/k1-breakthroughs-4-1.jpg" 
									media="(min-width: 1069px)">
					<!-- Fallback content -->
					<img class="background" src="images/k1-breakthroughs-4-1.jpg" alt="k1-breakthroughs-4-1">
				</picture>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h1 class="catch-copy text-red">突破<em>4</em> /</h1>
						<h1 class="text-reverse">结构创新，将强度发挥到极致</h1>
						<p class="text-reverse">我们用“化整为零”的思路设计整车部件，做精简的结构探索。部件一体成型，更加强悍。提升了安全性，并大幅提高车辆寿命。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-750" id="breakthroughs-4-2">
			<div class="bg">
				<picture alt="k1-breakthroughs-4-2">
					<!-- low-res, default -->
					<source srcset="images/k1-breakthroughs-4-2-small.jpg 1x,
									images/k1-breakthroughs-4-2-small2x.jpg 2x"
									media="(max-width: 767px)">
					<!-- med-res -->
				  <source srcset="images/k1-breakthroughs-4-2-medium.jpg 1x,
									images/k1-breakthroughs-4-2-medium2x.jpg 2x"
									media="(min-width: 768px) and (max-width: 1068px)">
				  <!-- high-res -->
				  <source srcset="images/k1-breakthroughs-4-2.jpg" 
									media="(min-width: 1069px)">
					<!-- Fallback content -->
					<img class="background" src="images/k1-breakthroughs-4-2.jpg" alt="k1-breakthroughs-4-2">
				</picture>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-6">
						<h3>组件一体成型，摆脱结构冗余</h3>
						<p>我们重新思考了部件的组合方式，将原本零碎的部件依据功能整合成完整的组件单体，比如在设计K1折叠连杆时，用一个零件代替了数个零件。减少零部件磨损，令部件更加牢固。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-300 article-center article-v-center">
			<div class="bg">
				<img class="background" src="images/k1-breakthroughs-5.jpg"/>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<span class="mis2 hyperlink-reverse hyperlink" data-hyperlink="improvements">其他数十项改进 ></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content" id="improvements">
		<div class="article article-wrapcontent" id="improvements-1">
			<div class="bg">
				<div class="background"/></div>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<span class="mis1 block-display text-red text-center">便携 /</span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<h3>一秒折叠，可放入汽车后备箱</h3>
						<p>快速折叠，随时装取，哪里都是停车场。我们将折叠状态的K1控制在1030*160*360mm的容积以内，同时对折叠机构进行了优化。折叠时间压缩到最短，只需两个步骤即可将车子折叠完成。无论在家中、办公室、公交、地铁，K1将如影随形。</p>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="images/k1-improvements-1-1.jpg"/>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<h3>符合人体工学的握杆，提起来更加轻松</h3>
						<p>轻松提握，少不了良好的握杆曲面设计。在兼顾强度的同时，符合人体工学的设计让K1提起来更轻松。</p>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="images/k1-improvements-1-2.jpg"/>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-wrapcontent" id="improvements-2">
			<div class="bg">
				<div class="background"/></div>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<span class="mis1 block-display text-red text-center">强度 /</span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<h3>双折叠套管，<br>防止长期驾驶带来的后续指向性下降的问题</h3>
						<p>普通滑板车采用单管的折叠管夹扣，容易在长期骑行后下滑造成安全隐患。K1管夹扣采用双管套设计，管夹不下摆，更加牢固。</p>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="images/k1-improvements-2-1.jpg"/>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<h3>前后挡泥板采用日本进口尼龙材料，<br>可轻松站人</h3>
						<p>前后挡泥板采用高强度材料，冬天不会发生脆裂。</p>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="images/k1-improvements-2-2.jpg"/>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<h3>后轮实心防爆，<br>防止高速驾驶时因为爆胎带来的安全隐患</h3>
						<p>车胎不应该成为骑行的负担。K1后轮采用实心的防爆胎，可以轻松拿下恶劣的路面环境。另外，实心胎的保养也更佳容易。</p>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="images/k1-improvements-2-3.jpg"/>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<h3>抛丸表面处理，外观与强度兼顾</h3>
						<p>注重性能的同时，我们不忘在外观上给车子加分。作为部件表面处理，钢丸高速撞击形成的晶格扭曲形变使组件的硬度倍增；细砂纹理在保留金属质感的同时提升了整车颜值。</p>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="images/k1-improvements-2-4.jpg"/>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-wrapcontent" id="improvements-3">
			<div class="bg">
				<div class="background"/></div>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<span class="mis1 block-display text-red text-center">贴心舒适 /</span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<h3>自带USB接口，可以充iPhone 50次</h3>
						<p>K1自带USB充电口。</p>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="images/k1-improvements-3-1.jpg"/>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<h3>彩色液晶显示屏幕，夜晚更容易看清</h3>
						<p>为夜间骑行进行的优化设计。液晶码表可显示电量、时速、档位、里程等实时数据。通过组合键操作可以查看续航估值。</p>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="images/k1-improvements-3-2.jpg"/>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<h3>前轮采用建大轮胎，圆度高，不跳变，不易变形</h3>
						<p>建大轮胎代表了台湾轮胎业的最高制造水平。我们将汽车级别的材料与工艺直接应用到K1，源于我们对品质的追求。</p>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="images/k1-improvements-3-3.jpg"/>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<h3>加宽的踏板，带来更大舒适性</h3>
						<p>考虑到骑行的舒适度，我们将踏板宽度延伸至16cm。</p>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="images/k1-improvements-3-4.jpg"/>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-wrapcontent" id="improvements-4">
			<div class="bg">
				<div class="background"/></div>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<span class="mis1 block-display text-red text-center">可选配件 /</span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<h3>原装座椅可通过标准孔位DIY，以备长途驾驶需要</h3>
						<p>K1座椅为长途骑行的用户专门设计，我们在滑板车踏板上预留了标准孔位，用户无需打孔即可轻松安装或拆卸座椅。</p>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="images/k1-improvements-4-1.jpg"/>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<h3>搭配手机支架，可轻松实现导航</h3>
						<p>我们一直在思考用户会怎样使用K1。导航、微信、电话，我们需要保证用户在出行时也可以方便地查看手机，不错过任何重要信息，并且足够安全。我们建议用户在T把上装配手机支架，让行程更轻松。</p>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="images/k1-improvements-4-2.jpg"/>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-300 article-center article-v-center">
			<div class="bg">
				<img class="background" src="images/k1-improvements-5.jpg"/>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<span class="mis2 hyperlink-reverse hyperlink" data-hyperlink="metrics">更多技术细节 ></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content" id="metrics">
		<div class="article" id="metrics-1">
			<div class="bg">
				<div class="background"></div>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="table-container">
							<table class="table table-borderless text-reverse">
								<tr class="row">
									<td class="col-sm-2">整车重量：</td>
									<td class="col-sm-10">16-18kg</td>
								</tr>
								<tr class="row">
									<td class="col-sm-2">整车尺寸：</td>
									<td class="col-sm-10">展开尺寸：1045*590*1100mm</td>
								</tr>
								<tr class="row">
									<td class="col-sm-2"></td>
									<td class="col-sm-10">折叠尺寸：1030*160*360mm</td>
								</tr>
								<tr class="row">
									<td class="col-sm-2">踏板宽度：</td>
									<td class="col-sm-10">16cm</td>
								</tr>
								<tr class="row">
									<td class="col-sm-2">离地高度：</td>
									<td class="col-sm-10">8-9cm</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="table-container">		
							<table class="table table-borderless text-reverse">
								<tr class="row">
									<td class="col-sm-2">续航：</td>
									<td class="col-sm-10">70公里(23.4Ah) / 90公里(28.8Ah)</td>
								</tr>
								<tr class="row">
									<td class="col-sm-2">最高设计车速：</td>
									<td class="col-sm-10">30km/h</td>
								</tr>
								<tr class="row">
									<td class="col-sm-2">动力：</td>
									<td class="col-sm-10">220W，后置电动马达</td>
								</tr>
								<tr class="row">
									<td class="col-sm-2">电池规格：</td>
									<td class="col-sm-10">36V 23.4Ah/28.8Ah，锂聚合物电池</td>
								</tr>
								<tr class="row">
									<td class="col-sm-2">充电要求：</td>
									<td class="col-sm-10">220V</td>
								</tr>
								<tr class="row">
									<td class="col-sm-2">充电时间：</td>
									<td class="col-sm-10">8-10小时</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="table-container">	
							<table class="table table-borderless text-reverse">
								<tr class="row">
									<td class="col-sm-2">刹车：</td>
									<td class="col-sm-10">后轮鼓刹</td>
								</tr>
								<tr class="row">
									<td class="col-sm-2">轮胎：</td>
									<td class="col-sm-10">8寸，前轮充气胎，后轮防爆胎</td>
								</tr>
								<tr class="row">
									<td class="col-sm-2">爬坡性能：</td>
									<td class="col-sm-10">≤20°</td>
								</tr>
								<tr class="row">
									<td class="col-sm-2">折叠性能：</td>
									<td class="col-sm-10">一秒折叠</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article article-wrapcontent" id="metrics-2">
			<div class="bg">
				<div class="background"/></div>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<img class="img-responsive" src="images/k1-metrics-1.png" />
					</div>
				</div>
			</div>
		</div>
		<div class="article article-300 article-center article-v-center">
			<div class="bg">
				<img class="background" src="images/k1-metrics-2.jpg"/>
				<div class="foreground"></div>
				<div class="bg-items"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<span class="mis2 hyperlink-reverse hyperlink" data-hyperlink="breakthroughs">了解核心突破 ></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('.main').css('height', $('.content-active').height());

		$(document).scroll(function(){
			var scrollTop = $(document).scrollTop();
			//decide whether need to fix secondary navigation bar and light up corresponding nav>li
			if(scrollTop >= 50){
				$('.navbar-secondary').addClass("navbar-fixed");
			}
			else{
				$('.navbar-secondary').removeClass("navbar-fixed");
			}
		});

		$('.hyperlink').click(function(){
			var current = $('.content-active');
			var target = $(this).data('hyperlink');
			if(current.attr('id') == target) {
				$(document).scrollTop(51);
				return;
			}
			$('#secondary-nav').collapse('hide');
			jumpToContent(target);
		});
		$('#rotate-slider').slider({
			start: function( event, ui ) {
				$(this).parents('.container').addClass('is-dragging');
			},
			stop: function(event, ui) {
				$(this).parents('.container').removeClass('is-dragging');
			}
		});
	});
	function jumpToContent(contentId){
			var current = $('.content-active');	
			var next = $('#' + contentId);
			$('.navbar-secondary .navbar-nav li.active').removeClass('active');
			$('.navbar-secondary li[data-hyperlink="'+ contentId +'"]').addClass('active');
			current.removeClass('content-active')
				.data('scroll', $(document).scrollTop());
			next.addClass('content-active');
			$('.main').css('height', next.height());
			if($(document).scrollTop() > 51){
				$(document).scrollTop(51);
			}
		}	
</script>
{{> footer }}