{{> header }}
	<style>
		.main .main-intro {
			padding-top: 78px;
			padding-bottom: 28px;
		}
	</style>
	<div class="main">
		<div class="main-intro">
			<nav class="navbar navbar-lite navbar-secondary">
				<div class="outer-container">
				  <div class="container">
				    <div class="navbar-collapse">
				      <ul class="nav text-center">
				      	<li><a>关注我们的官方微信</a></li>
				      </ul>
				    </div><!-- /.navbar-collapse -->
				  </div>
				</div><!-- /.outer-container -->
			</nav>
			<div class="container">
				<p class='block-display'>美步科技官方微信服务号已开通！<br>在这里，我们将与您分享个人出行方式的趣闻。</p>
				<span class='block-display mis1'>搜索添加 / </span>
				<p class='block-display'>微信界面右上方按钮[+] > 选择[添加朋友] > 在搜索框中输入'movetechs美步科技'添加。</p>
				<span class='block-display mis1'>扫码添加 / </span>
				<p class='block-display'>微信界面右上方按钮[+] > 选择[扫一扫] > 读取下方二维码添加</p>
				<span class='block-display mis1'>微信内添加 / </span>
				<p class='block-display'>在微信打开此页面时，长按下方二维码 > 选择[读取图片中的二维码]</p>
				<img width='150px' class='qrcode' src='images/share/movetechs-qrcode.jpg'/>
			</div>
		</div>
	</div>
{{> footer }}