$default-font-size: 15px;

$strong-title-font-size: 130px;
$strong-paragraph-font-size: 58px;
$first-font-size: 42px;
$second-font-size: 36px;
$third-font-size: 28px;
$forth-font-size: 24px;
$fifth-font-size: 18px;
$sixth-font-size: 15px;

$navbar-height: 50px;
$footer-height: 250px;

/*color-palette*/
$red: #ef483b;
$red-hover: #f15a4e;
$grey: rgba(48,52,59,0.95);
$grey-fallback: #30343b;

@mixin box-shadow($shadows) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($animation){
	-webkit-transition: $animation;
  -moz-transition: $animation;
  -o-transition: $animation;
  transition: $animation;
}

/*This is default font color, darkest, should be used on lite background*/
.text-default{
	color: #333;
}
/*This is a lighter version for default font color, should be used when hover on default*/
.text-blackout{
	color: #7e7e7e;
}
/*This is a darker version for reverse font color, should be used when hover on reverse*/
.text-whiteout{
	color: #dcdcdc;
}
/*This is brightest font color, should be used on dark background*/
.text-reverse{
	color: white;
}

.text-not-selectable{
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */   
}

.table-borderless{
	thead, tbody, tfoot{
		tr{
			th, td{
				border:none;
				line-height: 1;
    		vertical-align: middle;
    		padding: 0px 8px;
			}
		}
	}
}

.divider{
	width: 42px;
	height: 1px;
	display: block;
	background: #000;
}

.text-justify {
  text-align:justify;
  text-justify:distribute-all-lines;/*ie6-8*/
  text-align-last:justify;/* ie9*/
  -moz-text-align-last:justify;/*ff*/
  -webkit-text-align-last:justify;/*chrome 20+*/

  @media screen and (-webkit-min-device-pixel-ratio:0){/* chrome*/
  	&:after{
  		content:".";
      display: inline-block;
      width:100%;
      overflow:hidden;
      height:0;
  	}
  }
}

h1, h2, h3, h4, h5, h6{
	strong{
		font-size: $strong-title-font-size;
		font-weight: 100;
		line-height: 0.8;
	}
}

p, span {
	strong{
		font-size: $strong-paragraph-font-size;
		font-weight: normal;
	}
}
@font-face {
  font-family: 'Han Sans';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/SourceHanSansSC-ExtraLight.eot');
  src:
    url('../fonts/SourceHanSansSC-ExtraLight.eot?#font-spider') format('embedded-opentype'),
    url('../fonts/SourceHanSansSC-ExtraLight.woff') format('woff'),
    url('../fonts/SourceHanSansSC-ExtraLight.ttf') format('truetype'),
    url('../fonts/SourceHanSansSC-ExtraLight.svg') format('svg');
}
@font-face {
  font-family: 'Han Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/SourceHanSansSC-Light.eot');
  src:
    url('../fonts/SourceHanSansSC-Light.eot?#font-spider') format('embedded-opentype'),
    url('../fonts/SourceHanSansSC-Light.woff') format('woff'),
    url('../fonts/SourceHanSansSC-Light.ttf') format('truetype'),
    url('../fonts/SourceHanSansSC-Light.svg') format('svg');
}
@font-face {
  font-family: 'Han Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SourceHanSansSC-Regular.eot');
  src:
    url('../fonts/SourceHanSansSC-Regular.eot?#font-spider') format('embedded-opentype'),
    url('../fonts/SourceHanSansSC-Regular.woff') format('woff'),
    url('../fonts/SourceHanSansSC-Regular.ttf') format('truetype'),
    url('../fonts/SourceHanSansSC-Regular.svg') format('svg');
}
@font-face {
  font-family: 'Han Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/SourceHanSansSC-Medium.eot');
  src:
    url('../fonts/SourceHanSansSC-Medium.eot?#font-spider') format('embedded-opentype'),
    url('../fonts/SourceHanSansSC-Medium.woff') format('woff'),
    url('../fonts/SourceHanSansSC-Medium.ttf') format('truetype'),
    url('../fonts/SourceHanSansSC-Medium.svg') format('svg');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/materialIcons-regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/materialIcons-regular.woff2) format('woff2'),
       url(../fonts/materialIcons-regular.woff) format('woff'),
       url(../fonts/materialIcons-regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: $default-font-size; /* Preferred icon size */
  display: inline-block;
  width: 1rem;
  line-height: inherit;
  text-transform: none;
  letter-spacing: normal;
  vertical-align: middle;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
	margin: 0px;
}

html, body {
	height: 100%;
	font-size: $default-font-size;
	color: #333;
	line-height: 22px;
	background: white;
	font-family: "Gotham light","Helvetica Neue", Helvetica, Arial, "Han Sans", sans-serif;
	
	@media (min-width: 768px) {
		.container {
			width:947px !important;
		}
	}
}

.page-wrap {
	min-height: 100%;
	margin-bottom: -$footer-height;

	&:after {
		content: '';
		display: block;
		height: $footer-height;
	}
}

footer{
	height: $footer-height;

	text-align: left;
	font-size: $default-font-size;
	line-height: $footer-height;
	padding-top: 56px;
	padding-top: 4rem;

	@include transition(all 0.5s ease);
	
	background-color: #f8f8f8;

	z-index: 9999;

	h6{
		font-weight: 600;
		margin-bottom: 16px;
	}
	h4{
		font-weight: 200;
	}

	&.footer-fixed{
		position: fixed;
		left: 0px;
		right: 0px;
		bottom: 0px;
	}
	&.footer-transparent{
		background-color: transparent;
	}
}

nav.navbar{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: $navbar-height;

	border:none;
	@include border-radius(0px);
	@include transition(all 0.5s ease);
	
	font-size: $default-font-size;
	@extend .text-not-selectable;

	z-index: 9999;

	/*override when navbar is fixed at top*/
	&.navbar-fixed{
		position: fixed;
	}
	.navbar-right{
		margin-right: 0px;
	}

	/*apply to all navbars, when on laptop remove padding*/
	.navbar-brand{
		width: 85px;
		background: url('/images/logo.png') 0 16px no-repeat;
		opacity: 1;

		&:hover{
			opacity: 0.8;
		}
	}

	.navbar-brand, li>a{	
		&:hover, &:visited, &:focus{
			text-decoration: none;
	  	background-color: transparent;
		}
	}
	@media (min-width: 768px){
		.navbar-collapse{
			padding: 0px;
		}

		.navbar-brand, li>a{	
			height: $navbar-height;
			padding: 0px 19px;
			line-height: $navbar-height;
		}
	}

	&.navbar-secondary{
		@include transition(none);

		.navbar-collapse{
			height: $navbar-height !important;
			overflow: hidden !important;
			border-bottom-width: 1px;
			border-bottom-style: solid;

			li{
				font-size: $default-font-size;
				@include transition(all 0.2s ease);

				&.active{
					a {
						color: $red;
					}
				}
				a{
					display: inline-block;
					line-height: $navbar-height;
					cursor: pointer;
				}
			}
		}

		&.navbar-fixed{
			border-bottom: 1px solid #e5e5e5;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			.navbar-collapse{
				border-bottom: none;
			}
		}
	}

	/*default, lite, etc.. are only adjust styles*/
	&.navbar-default{
		background-color: $grey-fallback;
		background-color: $grey;
		@include box-shadow(none);

		.navbar-brand, li>a{
			@extend .text-reverse;

			&:hover{
				@extend .text-whiteout;
			}
		}
	}

	&.navbar-lite{
		background-color: transparent;
		@include box-shadow(none);

		.outer-container{
			background-color: #fff;
			background: rgba(255,255,255,0.96);

			.navbar-collapse{
				border-bottom-color: #e5e5e5;
			}

			.navbar-brand, li>a{
				@extend .text-default;

				&:hover{
					@extend .text-blackout;
				}
			}
		}
		
	}
	&.navbar-dark{
		background-color: black;
		@include box-shadow(none);
		
		.navbar-collapse{
			border-bottom-color: black;

			li{
				border-bottom-color: white;
			}
		}

		.navbar-brand, li>a{
			@extend .text-reverse;

			&:hover{
				@extend .text-whiteout;
			}
		}
	}
}

/*main style*/
.product-intro{
	position: relative;
	padding-top: $navbar-height;
}
.article{
	position: relative;
	width: 100%;

	.title{
		margin: 0px 0px 30px 0px;

		h1, h2, h3, h4, h5{
			font-weight: 100;
		}
	}
	h1 {
		font-size: $first-font-size;
	}
	h2 {
		font-size: $second-font-size;
		margin: 10px 0px;
	}
	h3 {
		font-size: $third-font-size;
	}
	h4 {
		font-size: $forth-font-size;
	}
	h5 {
		font-size: $fifth-font-size;
	}
	h6 {
		font-size: $sixth-font-size;
	}
	p{
		margin: 11.5px 0px;
	}

	.bg{
		position: absolute;
		top:0px;
		left:0px;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.background{
			position: absolute;
			display: none;
		}
		.foreground{
			position: absolute;
			top:0px;
			left:0px;
			width: 100%;
			height: 100%;

			&.shadow{
				background-color: rgba(0,0,0,0.1);
			}
			
		}
		.bg-items{
			position: relative;
		}
	}

	&.article-full{
		height:100%;
		overflow: hidden;
	}

	&.article-center{
		.container{
			text-align: center;

			p{
				text-align: left;
			}
		}
	}
	&.article-narrow{
		.container{
			@media (min-width: 768px){
				width: 844px !important; 
			}
		}
	}
}

.bubble{
	display: table;
	@include border-radius(100px);
	background: #f55e66;

	.inner{
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		height: 100%;
		@include border-radius(100px);
		border: 2px solid #d54753;
		text-align: center;

		h4{
			color: #fff;
		}
	}
}

/*override jquery-ui slider*/
.container{
	&.is-dragging{
  	cursor: move;
  	cursor: -webkit-grabbing;
  	cursor: grabbing
  }
  .ui-widget-content{
		border: none;
		background: #e2e2e2;
	}
	.ui-slider-horizontal{
		height: 2px;
	}

	.ui-slider-handle{
		height: 16px;
		width: 16px;
		top: -8px;
		border: 1px solid #bbb;
		border-radius: 14px;
		background: #fcfcfc;
	  outline: none;

	  &:hover{
	  	cursor: move;
	  	cursor: -webkit-grab;
	  	cursor: grab;
	  }
	}
}

/*override paper material design*/
.btn{
	margin: 8px 0px;
	padding: 3px 20px;
	font-size: $default-font-size;
	font-weight: 600;
	@include box-shadow(none);

	&:focus, &:active{
		@include box-shadow(none);
	}
}
.btn-danger{
	background-color: $red;

	&:hover, &:active, &:focus, &:visited{
		background-color: $red-hover;
	}
}
.btn-default{
	color: $red;

	&:hover, &:active, &:focus, &:visited{
		color: $red;
		border-color: #fafafa;
		background-color: #fafafa;
	}
}