/*color-palette*/
/*This is default font color, darkest, should be used on lite background*/
.text-default, .font-cleanup, .headline, .catch-copy, h1, h2, h3, p, html, body, footer, nav.navbar, .btn, small, span, nav.navbar.navbar-lite .outer-container .navbar-brand, nav.navbar.navbar-lite .outer-container li > a, nav.navbar.navbar-lite.navbar-secondary .outer-container li:first-child > a:hover {
  color: #333; }

/*This is brightest font color, should be used on dark background*/
.text-reverse, nav.navbar.navbar-default .navbar-brand, nav.navbar.navbar-default li > a, nav.navbar.navbar-dark .navbar-brand, nav.navbar.navbar-dark li > a {
  color: white; }

/*This is a lighter version for default font color, should be used when hover on default*/
.text-blackout, nav.navbar.navbar-lite .outer-container .navbar-brand:hover, nav.navbar.navbar-lite .outer-container li > a:hover {
  color: #7e7e7e; }

/*This is a darker version for reverse font color, should be used when hover on reverse*/
.text-whiteout, nav.navbar.navbar-default .navbar-brand:hover, nav.navbar.navbar-default li > a:hover, nav.navbar.navbar-dark .navbar-brand:hover, nav.navbar.navbar-dark li > a:hover {
  color: #dcdcdc; }

.text-red {
  color: #f04e41; }

.text-not-selectable, .hyperlink-underscore, nav.navbar {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

.font-cleanup, .headline, .catch-copy, h1, h2, h3, p, html, body, footer, nav.navbar, .btn, small, span {
  margin: 0px;
  margin-bottom: 16px;
  padding: 0px;
  line-height: auto;
  display: inline; }

.headline {
  font-family: Gotham;
  font-size: 32px;
  font-weight: 800;
  line-height: 42px;
  display: block; }

.catch-copy {
  font-size: 32px;
  font-weight: 800;
  line-height: 42px;
  display: block; }

.hyperlink-underscore {
  cursor: pointer;
  text-decoration: underline; }

h1 {
  font-size: 36px;
  font-weight: 100;
  line-height: 48px;
  display: block; }

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  display: block; }

h3 {
  font-size: 24px;
  font-weight: 100;
  line-height: 36px;
  display: block; }

p, html, body, footer, nav.navbar, .btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-align: justify;
  text-justify: ideographic; }

small {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  margin-bottom: 5px; }

span {
  text-align: justify;
  text-justify: ideographic;
  font-weight: 400; }
  span.mis1 {
    font-size: 20px; }
  span.mis2 {
    font-size: 16px; }

.table-borderless thead tr th, .table-borderless thead tr td, .table-borderless tbody tr th, .table-borderless tbody tr td, .table-borderless tfoot tr th, .table-borderless tfoot tr td {
  border: none;
  line-height: 1;
  vertical-align: middle;
  padding: 0px; }
  .table-borderless thead tr th p, .table-borderless thead tr th html, .table-borderless thead tr th body, .table-borderless thead tr th footer, .table-borderless thead tr th nav.navbar, .table-borderless thead tr th .btn, .table-borderless thead tr td p, .table-borderless thead tr td html, .table-borderless thead tr td body, .table-borderless thead tr td footer, .table-borderless thead tr td nav.navbar, .table-borderless thead tr td .btn, .table-borderless tbody tr th p, .table-borderless tbody tr th html, .table-borderless tbody tr th body, .table-borderless tbody tr th footer, .table-borderless tbody tr th nav.navbar, .table-borderless tbody tr th .btn, .table-borderless tbody tr td p, .table-borderless tbody tr td html, .table-borderless tbody tr td body, .table-borderless tbody tr td footer, .table-borderless tbody tr td nav.navbar, .table-borderless tbody tr td .btn, .table-borderless tfoot tr th p, .table-borderless tfoot tr th html, .table-borderless tfoot tr th body, .table-borderless tfoot tr th footer, .table-borderless tfoot tr th nav.navbar, .table-borderless tfoot tr th .btn, .table-borderless tfoot tr td p, .table-borderless tfoot tr td html, .table-borderless tfoot tr td body, .table-borderless tfoot tr td footer, .table-borderless tfoot tr td nav.navbar, .table-borderless tfoot tr td .btn {
    line-height: 26px; }

.block-display {
  display: block; }

.inline-display {
  display: inline; }

.divider {
  width: 42px;
  height: 1px;
  display: block;
  background: #000; }

.text-justify {
  text-align: justify;
  text-justify: distribute-all-lines;
  /*ie6-8*/
  text-align-last: justify;
  /* ie9*/
  -moz-text-align-last: justify;
  /*ff*/
  -webkit-text-align-last: justify;
  /*chrome 20+*/ }
  @media only screen and (-webkit-min-device-pixel-ratio: 0) {
    .text-justify {
      /* chrome*/ }
      .text-justify:after {
        content: ".";
        display: inline-block;
        width: 100%;
        overflow: hidden;
        height: 0; } }

@font-face {
  font-family: 'Han Sans';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/SourceHanSansSC-ExtraLight.eot");
  src: url("../fonts/SourceHanSansSC-ExtraLight.eot?#font-spider") format("embedded-opentype"), url("../fonts/SourceHanSansSC-ExtraLight.woff") format("woff"), url("../fonts/SourceHanSansSC-ExtraLight.ttf") format("truetype"), url("../fonts/SourceHanSansSC-ExtraLight.svg") format("svg"); }
@font-face {
  font-family: 'Han Sans';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/SourceHanSansSC-Light.eot");
  src: url("../fonts/SourceHanSansSC-Light.eot?#font-spider") format("embedded-opentype"), url("../fonts/SourceHanSansSC-Light.woff") format("woff"), url("../fonts/SourceHanSansSC-Light.ttf") format("truetype"), url("../fonts/SourceHanSansSC-Light.svg") format("svg"); }
@font-face {
  font-family: 'Han Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SourceHanSansSC-Regular.eot");
  src: url("../fonts/SourceHanSansSC-Regular.eot?#font-spider") format("embedded-opentype"), url("../fonts/SourceHanSansSC-Regular.woff") format("woff"), url("../fonts/SourceHanSansSC-Regular.ttf") format("truetype"), url("../fonts/SourceHanSansSC-Regular.svg") format("svg"); }
@font-face {
  font-family: 'Han Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/SourceHanSansSC-Medium.eot");
  src: url("../fonts/SourceHanSansSC-Medium.eot?#font-spider") format("embedded-opentype"), url("../fonts/SourceHanSansSC-Medium.woff") format("woff"), url("../fonts/SourceHanSansSC-Medium.ttf") format("truetype"), url("../fonts/SourceHanSansSC-Medium.svg") format("svg"); }
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/materialIcons-regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/materialIcons-regular.woff2) format("woff2"), url(../fonts/materialIcons-regular.woff) format("woff"), url(../fonts/materialIcons-regular.ttf) format("truetype"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  /* Preferred icon size */
  display: inline-block;
  width: 1rem;
  line-height: inherit;
  text-transform: none;
  letter-spacing: normal;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

* {
  margin: 0px; }

html, body {
  height: 100%;
  background: white;
  font-family: "Gotham light","Helvetica Neue", Helvetica, Arial, "Han Sans", sans-serif; }
  @media only screen and (min-width: 768px) {
    html .container, body .container {
      width: 1004px !important; } }

.page-wrap {
  min-height: 100%;
  margin-bottom: -50px; }
  .page-wrap:after {
    content: '';
    display: block; }

footer {
  position: relative;
  line-height: 50px;
  z-index: 9999; }
  footer.footer-fixed {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px; }
  footer .article {
    position: relative;
    height: 50px;
    background-color: #f8f8f8; }
    footer .article p, footer .article html, footer .article body, footer .article footer, footer .article nav.navbar, footer .article .btn {
      color: #888; }

footer, .page-wrap:after {
  height: 50px; }

nav.navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 50px;
  margin-bottom: 0px;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 9999;
  /*override when navbar is fixed at top*/
  /*apply to all navbars, when on laptop remove padding*/
  /*default, lite, etc.. are only adjust styles*/ }
  nav.navbar.navbar-fixed {
    position: fixed; }
  nav.navbar .navbar-brand {
    height: auto;
    line-height: auto;
    padding: 16px 15px;
    opacity: 1;
    /*&:hover{
    	opacity: 0.8;
    }*/ }
    nav.navbar .navbar-brand img {
      width: 88px;
      padding: 0px; }
  nav.navbar .navbar-nav.navbar-right {
    margin-right: 0px; }
    nav.navbar .navbar-nav.navbar-right li:last-child {
      margin-right: 0px;
      padding-right: 0px; }
  nav.navbar .navbar-nav li {
    margin: 0px 10px;
    padding: 0px 10px; }
    nav.navbar .navbar-nav li:first-child {
      margin-left: 0px;
      padding-left: 0px; }
    nav.navbar .navbar-nav li a {
      text-align: center;
      height: 50px;
      padding: 0px;
      line-height: 50px; }
      nav.navbar .navbar-nav li a:hover, nav.navbar .navbar-nav li a:visited, nav.navbar .navbar-nav li a:focus {
        text-decoration: none;
        background-color: transparent; }
  @media only screen and (min-width: 768px) {
    nav.navbar .navbar-collapse {
      padding: 0px; } }
  @media only screen and (max-width: 768px) {
    nav.navbar .navbar-toggle {
      position: absolute;
      right: 0px;
      margin-top: 8px;
      margin-bottom: 8px; }
    nav.navbar .navbar-brand {
      float: none; }
      nav.navbar .navbar-brand img {
        display: inline; } }
  nav.navbar.navbar-secondary {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
    nav.navbar.navbar-secondary .navbar-collapse {
      height: 50px !important;
      overflow: hidden !important; }
      nav.navbar.navbar-secondary .navbar-collapse li {
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
        nav.navbar.navbar-secondary .navbar-collapse li.active {
          border-bottom: 2px solid #f04e41; }
          nav.navbar.navbar-secondary .navbar-collapse li.active a {
            color: #f04e41; }
        nav.navbar.navbar-secondary .navbar-collapse li:first-child a {
          cursor: default; }
        nav.navbar.navbar-secondary .navbar-collapse li a {
          display: inline-block;
          line-height: 50px;
          cursor: pointer;
          margin-bottom: -2px; }
    nav.navbar.navbar-secondary.navbar-fixed {
      border-bottom: 1px solid #e5e5e5;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      nav.navbar.navbar-secondary.navbar-fixed .navbar-collapse {
        border-bottom: none; }
  nav.navbar.navbar-default {
    background-color: #23252b;
    background-color: rgba(35, 37, 43, 0.96);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
    nav.navbar.navbar-default .navbar-toggle .icon-bar {
      background-color: #fff; }
  nav.navbar.navbar-lite {
    background-color: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
    nav.navbar.navbar-lite .outer-container {
      background-color: #fff;
      background: rgba(255, 255, 255, 0.96); }
  nav.navbar.navbar-dark {
    background-color: black;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
    nav.navbar.navbar-dark .navbar-collapse {
      border-bottom-color: black; }
      nav.navbar.navbar-dark .navbar-collapse li {
        border-bottom-color: white; }

/*main style*/
.main {
  position: relative;
  margin-top: 50px;
  padding-top: 50px; }
  .main .content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    display: none; }
    .main .content.content-active {
      display: block; }

.article {
  position: relative;
  width: 100%; }
  .article .container {
    position: relative; }
  .article .bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .article .bg .background {
      position: absolute;
      display: none; }
    .article .bg .foreground {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%; }
      .article .bg .foreground.shadow {
        background-color: rgba(0, 0, 0, 0.1); }
    .article .bg .bg-items {
      position: relative; }
  .article.article-center .container {
    text-align: center; }
    .article.article-center .container p, .article.article-center .container html, .article.article-center .container body, .article.article-center .container footer, .article.article-center .container nav.navbar, .article.article-center .container .btn {
      text-align: left; }
  .article.article-v-bottom .container {
    position: absolute;
    left: 50%;
    bottom: 0px; }
    .article.article-v-bottom .container .row {
      position: relative;
      left: -50%; }
  .article.article-v-center .container {
    display: table;
    height: 100%; }
    .article.article-v-center .container .row {
      display: table-row;
      height: 0px;
      vertical-align: middle; }
  .article.article-full {
    height: 100%;
    overflow: hidden; }
  .article.article-750 {
    height: 750px; }
  .article.article-300 {
    height: 300px; }
  .article.article-wrapcontent h1, .article.article-wrapcontent h2, .article.article-wrapcontent h3 {
    margin-bottom: 0px; }

.bubble {
  display: table;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  background: #f55e66; }
  .bubble .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    border: 2px solid #d54753;
    text-align: center; }
    .bubble .inner h3, .bubble .inner h4 {
      margin: 10px;
      color: #fff; }

/*override jquery-ui slider*/
.container.is-dragging {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: grabbing; }
.container .ui-widget-content {
  border: none;
  background: #e2e2e2; }
.container .ui-slider-horizontal {
  height: 2px; }
.container .ui-slider-handle {
  height: 16px;
  width: 16px;
  top: -8px;
  border: 1px solid #bbb;
  border-radius: 14px;
  background: #fafafa;
  outline: none; }
  .container .ui-slider-handle:hover {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab; }

/*override paper material design*/
.btn {
  margin: 8px 0px;
  padding: 3px 20px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .btn:focus, .btn:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.btn-danger {
  background-color: #f04e41; }
  .btn-danger:hover, .btn-danger:active, .btn-danger:focus, .btn-danger:visited {
    background-color: #f15a4e; }

.btn-default {
  color: #f04e41; }
  .btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:visited {
    color: #f04e41;
    border-color: #fafafa;
    background-color: #fafafa; }
