/*media query*/
$desktop-min: 1069px;
$tablet-max: 1068px;
$tablet-min: 768px;
$phone-max: 767px;

/*variables*/
$navbar-height: 50px;
$footer-height: 50px;

/*color-palette*/
$white: #ffffff;          // reverse | carousel-indicator active | navbar-lite | navbar-default collapse-icon-bar
$grey-lighter: #f8f8f8;   // lighter-bg: about-joinus, footer | navbar-grey 
$grey-light: #ececec;     // reverse-hover | light-bg: about-jumbo | navbar-grey border | footer border
$grey: #888888;           // reverse-selected | carousel-indicator | carousel-indicator border
$grey-dark: #6e6e6e;      // default-hover | border on dark-bg
$grey-darker: #333333;    // default
$black: #000;             

$dark-bg: #2b2d33;        // k1-metrics
$darker-bg: #222429;      // footer-dark

$red: #f04e41;
$red-hover: rgba($red, 0.75);

.block-display {
	display: block;
}
/*This is default font color, darkest, should be used on lite background*/
.text-default{
	color: $grey-darker;
}
/*This is a lighter version for default font color, should be used when hover on default*/
.text-default-hover{
	color: $grey-dark;
}
/*This is brightest font color, should be used on dark background*/
.text-reverse{
	color: $white;
}
/*This is a darker version for reverse font color, should be used when hover on reverse*/
.text-reverse-hover{
	color: $grey-light;
}
.text-grey {
	color: $grey-dark;
}
.text-red {
	color: $red !important;
}
.text-red-hover {
	color: $red-hover !important;
}
.text-not-selectable{
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */   
}
.text-justify {
  text-align:justify;
  text-justify:distribute-all-lines;/*ie6-8*/
  text-align-last:justify;/* ie9*/
  -moz-text-align-last:justify;/*ff*/
  -webkit-text-align-last:justify;/*chrome 20+*/

  @media only screen and (-webkit-min-device-pixel-ratio:0){/* chrome*/
  	&:after{
  		content:".";
      display: inline-block;
      width:100%;
      overflow:hidden;
      height:0;
  	}
  }
}
.font-cleanup {
	margin: 0px;
	padding: 0px;
	line-height: 1em;
	font-size: 14px;
	line-height: 24px;
	@extend .text-default;
}
.catch-copy {  //强调
	@extend .font-cleanup;
	display:block;
	font-size: 32px;
	line-height: 42px;
	margin-bottom: 23px;	
	font-weight: 800;
	em {
		font-family: Gotham;
    font-size: 65px;
    font-style: normal;
	}
}
.hyperlink {  
	cursor: pointer;
	@extend .text-not-selectable;
	&:hover {
		text-decoration: none;
	}
	&.hyperlink-red {
		@extend .text-red;
		&:hover {
			@extend .text-red-hover;
		}
	}
	&.hyperlink-reverse {
		@extend .text-reverse;
		&:hover {
			@extend .text-reverse-hover;
		}
	}
}
h1 {  //标题1
	@extend .font-cleanup;
	display: block;
	font-size: 36px;
	line-height: 48px;
	margin-bottom: 22px;
	font-weight: 100;
	@media only screen and (max-width: $tablet-max) {  //Tablet
		font-size: 32px;
		line-height: 42px;
		margin-bottom: 23px;
	}
	@media only screen and (max-width: $phone-max) {  //Phone
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 22px;
	}
}
h2 {  //副标题
	@extend .font-cleanup;
	display: block;
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 22px;
	font-weight: 600;
	@media only screen and (max-width: $tablet-max) {  //Tablet
		font-size: 22px;
		line-height: 36px;
		margin-bottom: 21px;
	}
	@media only screen and (max-width: $phone-max) {  //Phone
		font-size: 20px;
		line-height: 36px;
		margin-bottom: 20px;
	}
}
h3 {   //标题2
	@extend .font-cleanup;
	display: block;
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 22px;
	font-weight: 100;
	@media only screen and (max-width: $tablet-max) {  //Tablet
		font-size: 22px;
		line-height: 36px;
		margin-bottom: 21px;
	}
	@media only screen and (max-width: $phone-max) {  //Phone
		font-size: 20px;
		line-height: 36px;
		margin-bottom: 20px;
	}
}
p {   //正文
	@extend .font-cleanup;
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 23px;
	font-weight: 400;
	text-align: justify; 
  text-justify: ideographic;
}
small {  //补充说明
	@extend .font-cleanup;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 5px;
	font-weight: 400;
	@media only screen and (max-width: $phone-max) {  //Phone
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 4px;
	}
}
span {
	@extend .font-cleanup;
	display: inline-block;
	font-weight: 400;
	text-align: justify; 
  text-justify: ideographic;
	&.mis1 {  //其他文字1
		font-size: 20px;
		line-height: 36px;
		margin-bottom: 20px;
		@media only screen and (max-width: $phone-max) {  //Phone
			font-size: 18px;
			line-height: 36px;
			margin-bottom: 19px;
		}
	}
	&.mis2 {   //其他文字2
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 24px;
		@media only screen and (max-width: $phone-max) {  //Phone
			font-size: 14px;
			line-height: 24px;
			margin-bottom: 23px;
		}
	}
	&.misnav {  //不需要margin-bottom
		font-size: 14px;
	}
}

@mixin box-shadow($shadows) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($animation){
	-webkit-transition: $animation;
  -moz-transition: $animation;
  -o-transition: $animation;
  transition: $animation;
}
@mixin transform($transform){
  -ms-transform: $transform;
  -moz-transform: $transform;
  -webkit-transform: $transform;
  transform: $transform;
}

.table-borderless{
	thead, tbody, tfoot{
		tr{
			th, td{
				border:none;
				line-height: 1;
    		vertical-align: middle;
    		padding: 0px;
			}
		}
	}
}

@font-face {
  font-family: 'Han Sans';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/SourceHanSansSC-ExtraLight.eot');
  src:
    url('../fonts/SourceHanSansSC-ExtraLight.eot?#font-spider') format('embedded-opentype'),
    url('../fonts/SourceHanSansSC-ExtraLight.woff') format('woff'),
    url('../fonts/SourceHanSansSC-ExtraLight.ttf') format('truetype'),
    url('../fonts/SourceHanSansSC-ExtraLight.svg') format('svg');
}
@font-face {
  font-family: 'Han Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/SourceHanSansSC-Light.eot');
  src:
    url('../fonts/SourceHanSansSC-Light.eot?#font-spider') format('embedded-opentype'),
    url('../fonts/SourceHanSansSC-Light.woff') format('woff'),
    url('../fonts/SourceHanSansSC-Light.ttf') format('truetype'),
    url('../fonts/SourceHanSansSC-Light.svg') format('svg');
}
@font-face {
  font-family: 'Han Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SourceHanSansSC-Regular.eot');
  src:
    url('../fonts/SourceHanSansSC-Regular.eot?#font-spider') format('embedded-opentype'),
    url('../fonts/SourceHanSansSC-Regular.woff') format('woff'),
    url('../fonts/SourceHanSansSC-Regular.ttf') format('truetype'),
    url('../fonts/SourceHanSansSC-Regular.svg') format('svg');
}
@font-face {
  font-family: 'Han Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/SourceHanSansSC-Medium.eot');
  src:
    url('../fonts/SourceHanSansSC-Medium.eot?#font-spider') format('embedded-opentype'),
    url('../fonts/SourceHanSansSC-Medium.woff') format('woff'),
    url('../fonts/SourceHanSansSC-Medium.ttf') format('truetype'),
    url('../fonts/SourceHanSansSC-Medium.svg') format('svg');
}
@font-face {
  font-family: 'Han Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/SourceHanSansSC-Bold.eot');
  src:
    url('../fonts/SourceHanSansSC-Bold.eot?#font-spider') format('embedded-opentype'),
    url('../fonts/SourceHanSansSC-Bold.woff') format('woff'),
    url('../fonts/SourceHanSansSC-Bold.ttf') format('truetype'),
    url('../fonts/SourceHanSansSC-Bold.svg') format('svg');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/materialIcons-regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/materialIcons-regular.woff2) format('woff2'),
       url(../fonts/materialIcons-regular.woff) format('woff'),
       url(../fonts/materialIcons-regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 14px; /* Preferred icon size */
  display: inline-block;
  line-height: inherit;
  text-transform: none;
  letter-spacing: normal;
  vertical-align: middle;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
	margin: 0px;
}

html, body {
	@extend .font-cleanup;
	height: 100%;
	background: white;
	font-family: "Gotham light","Helvetica Neue", Helvetica, Arial, "Han Sans", sans-serif;
	
	@media only screen and (min-width: $desktop-min) {
		.container {
			width:1004px !important;
		}
	}
}

.page-wrap {
	min-height: 100%;
	margin-bottom: -$footer-height;

	&:after {
		content: '';
		display: block;
	}
}

footer{
	position: relative;
	line-height: $footer-height;	
	z-index: 9999;
	background-color: $grey-lighter;
	@include transition(all 0.5s ease);
	>.container {
		border-top: 1px solid $grey-light;
		a.btn{
			@extend .text-grey;
			@include box-shadow(none);
			padding: 3px 5px;
			&:last-child {
				padding: 3px 0px 3px 25px; 
			}
			&:hover{
				opacity: 0.75;
			}
			&:focus{
				border: none;
    		outline:none;
			}
			&>img{
				width: 16px;
			}
		}
		.popover {
			width: 450px;
			max-width: 450px;
			background: rgba($white, 0.96);
			.popover-title {
				background: transparent;
				font-size: 14px;
				font-weight: 400;
				text-align: center;
			}
			.popover-content {
				position: relative;
				padding-bottom: 178px;
				img.qrcode{
					position: absolute;
					bottom: 28px;
					width: 150px;
				}
			}
		}	
	}
	@media only screen and (max-width: $phone-max) {
		background-color: $darker-bg;
		>.container {
			border-top: none;
		}
	}
}

footer, .page-wrap:after {
	display:block;
	height: $footer-height;
}
nav.navbar{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: $navbar-height;
	margin-bottom: 0px;

	border:none;
	@include border-radius(0px);
	@include transition(all 0.5s ease);
	
	@extend .text-not-selectable;

	/*override when navbar is fixed at top*/
	&.navbar-fixed{
		position: fixed;
	}

	/*apply to all navbars, when on laptop remove padding*/
	.navbar-brand{
		display: block;
		height: auto;
		line-height: auto;
		opacity: 1;
		text-decoration: none;
		&:hover{
			opacity: 0.75;
		}
		img {
			width: 88px;
			padding: 0px;
			@media only screen and (max-width: $phone-max) {  //Phone
				margin: 0 auto;
			}
		}
	}
	.navbar-toggle{
			position: absolute;
			top: 0px;
			right: 0px;
			&.btn-hanburger {
				margin-top: 8px;
				margin-bottom: 8px;
				.icon-bar{
					margin-bottom: 0px;
				}
			}
			&.btn-arrow {
				margin-top: 5px;
				margin-bottom: 2px;
			}
		}
	.nav {
		&.navbar-right{
			margin-right: 0px;
			@media only screen and (min-width: $desktop-min){  //Desktop
				li:last-child {
					margin-right: 0px;
					padding-right: 0px;
				}
			}
		}
		li{
			margin: 0px 10px;
			padding: 0px 10px;
			a {
				text-align: center;
				height: $navbar-height;
				padding: 0px;
				line-height: $navbar-height;

				&:hover, &:visited, &:focus{
					text-decoration: none;
			  	background-color: transparent;
				}
			}
		}
	}
	@media only screen and (min-width: $desktop-min){  //Desktop
		.navbar-collapse{
			padding: 0px;
		}
	}
	&.navbar-primary {
		@extend span.misnav;
		z-index:10000;
		.navbar-brand{
			padding: 16px 15px;
		}
		@media only screen and (max-width: $phone-max){  // Phone
			.navbar-collapse {
				@include box-shadow(none);
				.nav li {			
					&:last-child {
						margin-bottom: 12px;
					}
					a{
						line-height: 60px;
						height:60px;
					}
				}
			}
		}
	}
	&.navbar-secondary{
		@extend p;
		z-index:9999;
		@include transition(none);
		.navbar-header {
			.navbar-brand {
				padding: 13px 10px;
				margin-right: 10px;
				cursor: pointer;
				@media only screen and (max-width: $phone-max){  // Phone
					padding-left: 15px;
				}
			}
			div[type~="button"]{
				position: absolute;
				left: 0px;
				right: 0px;
				height: 100%;
				button{
					@include transition(all 0.2s ease);
					&.in{
					  @include transform(rotate(180deg));
					}
				}
				@media (min-width: $tablet-min){
					display: none;
				}
			}
			.navbar-brand, .navbar-brand span, button i{
				@extend span.misnav;
			}	
		}
		.navbar-collapse{
			li{
				@include transition(all 0.2s ease);

				&.active{
					border-bottom: 2px solid $red;
					@media only screen and (max-width: $phone-max){  // Phone
						border: none;
					}
					a {
						color: $red;
					}
				}
				&:first-child a{
					cursor: default;
				}
				a{
					display: inline-block;
					line-height: $navbar-height;
					cursor: pointer;
					margin-bottom: -2px;
				}
			}
		}
	}
	&.navbar-third {
		position: relative;
	}
	/*default, lite, etc.. are only adjust styles*/
	&.navbar-default{
		background-color: $darker-bg;  //use this as fallback
		background-color: rgba($darker-bg, 0.96);
		&.bg-opaque {
			background-color: $darker-bg;
		}
		@include box-shadow(none);

		.navbar-brand, li>a{
			@extend .text-reverse;

			&:hover{
				@extend .text-reverse-hover;
			}
			&.static:hover {
				@extend .text-reverse;
			}
		}
		.navbar-toggle .icon-bar{
			background-color: $white;
		}

	}
	&.navbar-lite{
		background-color: $white;
		background: rgba($white, 0.96);
		&.bg-opaque{
			background-color: $white;
		}
		@include box-shadow(none);

		.outer-container{
			.navbar-brand, li>a{
				@extend .text-default;

				&:hover{
					@extend .text-default-hover;
				}
				&.static:hover {
					@extend .text-default;
				}
			}
		}
		&.navbar-secondary {
			@media only screen and (min-width: $tablet-min) {
				.outer-container .navbar-collapse {
					@include box-shadow(inset 0px -1px 0px rgba($black, 0.1));
				}
			}
			@media only screen and (max-width: $phone-max) {
				@include box-shadow(inset 0px -1px 0px rgba($black, 0.1));
			}
			&.navbar-fixed {
				@media only screen and (min-width: $tablet-min) {
					.outer-container .navbar-collapse {
						@include box-shadow(none);
					}
				}
				@media only screen and (max-width: $phone-max) {
					@include box-shadow(none);
				}
			}
		}
	}
	&.navbar-grey{
		background-color: $grey-lighter;
		@include box-shadow(none);
		.container {
			padding: 0px;
			.navbar-collapse{
				margin: 0px;
				padding: 0px;
				border-bottom-color: $grey-light;
				.navbar-nav {
					margin: 0px;
					li{
						margin: 0px;
						padding: 0px;
						border-top: 1px solid $grey-light;
						&>a{
							@extend .text-default;
							font-size: 16px;
							&:hover{
								@extend .text-default;
							}
						}
					}
				}	
			}
		}
	}
}

/*main style*/
.main{
	position: relative;
	margin-top: $navbar-height;
	>.main-intro {
		position: relative;
		padding-top: 98px;
	}
	>.content {
		position:absolute;
		top: 0px;
		left:0px;
		width: 100%;
		display: none;
		&.content-active{
			display: block;
		}
	}
}
.article{
	position: relative;
	width: 100%;

	.container, .container-fluid{
		position: relative;
	}
	>.bg{
		position: absolute;
		top:0px;
		left:0px;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.background{
			position: absolute;
			display: none;
		}
		.foreground{
			position: absolute;
			top:0px;
			left:0px;
			width: 100%;
			height: 100%;
		}
		.bg-items{
			position: relative;
		}
	}
	&.article-center{
		>.content {
			&.container, &.container-fluid {
				text-align: center;

				p{
					text-align: left;
				}
			}
		}
	}
	&.article-v-bottom {
		>.content {
			&.container, &.container-fluid {
				position: absolute;
				left: 0px;
				right: 0px;
				bottom: 0px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	&.article-v-center {
		>.content {
			&.container, &.container-fluid{
				display: table;
				height: 100%;
				.row {
					display: table-row;
					height: 0px;
					vertical-align: middle;
				}
			}
		}
	}
	&.article-full{
		height:100%;
		overflow: hidden;
	}
	&.article-750 {
		height: 750px;
	}
	&.article-300 {
		height: 300px;
	}
	&.article-wrapcontent {
		h2{
			margin-bottom: 0px;
		}
	}
	@media only screen and (max-width: $phone-max) {
		&.article-xs-v-bottom {
			.container, .container-fluid {
				position: absolute;
				left: 0px;
				right: 0px;
				bottom: 0px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

.collapse-paragraph{
	position: relative;
	max-height: 1000px;
	overflow: hidden;
	@include transition(all 1s ease);

	.collapse-control {
		position: absolute;
		width: 100%;
		bottom: 0px;
		padding-top: 50px;
		text-align: right;
		background: transparent;
		&>a {
			cursor: pointer;
			&[data-control="collapse"] {
				display: block;
			}
			&[data-control="expand"] {
				display: none;
			}
		}
	}

	&.collapsed {
		max-height: 130px;
		.collapse-control {
			background: linear-gradient(180deg, rgba($white, 0.3), rgba($white, 1) 70%);
			&>a[data-control="collapse"] {
				display: none;
			}
			&>a[data-control="expand"] {
				display: block;
			}
		}
	}
}